.error-503 {
  background: $white;
  padding-top: 76px;
  padding-bottom: 68px;

  @include mq(684px) {
    padding-top: 57px;
    padding-bottom: 60px;
  }
}

.error-503__container {
  @include wrapper(684px);
}

.error-503__image {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;

  @include mq(684px) {
    margin-bottom: 77px;
    align-items: flex-start;
  }
}

.error-503__img {
  @include mq(524px) {
    width: 100%;
  }
}

.error-503__title {
  @include typograph-head-1;
  text-align: center;
  color: $tundora;
  margin-bottom: 23px;
}

.error-503__text {
  @include typograph-plain-m;
  color: $tundora;
  margin-bottom: 2em;
  text-align: center;

  &:last-child {
    margin-bottom: 40px;
  }
}

.error-503__link {
  @include typograph-plain-l;
  color: $tundora;
  text-decoration: none;
  font-weight: $semibold;
}

.error-503__socials {
  display: flex;
  width: 138px;
  margin: 0 auto;
  justify-content: space-between;
}

.error-503__social {
  display: flex;
  align-items: center;
}

.error-503__social-link {
  display: block;

  &--fb {
    width: 10px;
    height: 20px;
    background: url('./assets/errors/fb.svg');
  }

  &--inst {
    width: 21px;
    height: 20px;
    background: url('./assets/errors/inst.svg');
  }

  &--vk {
    width: 26px;
    height: 15px;
    background: url('./assets/errors/vk.svg');
  }
}
