.alternative-methods {
  padding-top: 120px;
  padding-bottom: 87px;
  background: $white;

  @include mq(1062px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include mq(800px) {
    display: none;
  }
}

.alternative-methods__container {
  @include wrapper(1062px);
}

.alternative-methods__wrapper {
  display: flex;
  justify-content: space-between;

  @include mq(1062px) {
    flex-flow: row wrap;
  }
}

.alternative-methods__image {
  flex: 0 1 503px;

  @include mq(1062px) {
    flex: 1 1 100%;
    margin-bottom: 25px;
  }
}

.alternative-methods__img {
  @include mq(1062px) {
    display: block;
    margin: 0 auto;
  }
}

.alternative-methods__content {
  flex: 1 1 calc(100% - 503px);

  @include mq(1062px) {
    flex: 1 1 100%;
  }
}

.alternative-methods__title {
  @include typograph-head-2;
  margin-bottom: 40px;
  color: $tundora;
}

.alternative-methods__text {
  @include typograph-plain-l;
  color: $tundora;
}
