.availability {
  background: linear-gradient(345.25deg, #EEF1F6 -17.28%, #FCFDFD 100%);

  @include mq(800px) {
    padding-top: 60px;
    padding-bottom: 46px;
  }
}

.availability__container {
  @include wrapper(922px);
}

.availability__wrapper {
  display: flex;
  align-items: center;

  @include mq(800px) {
    flex-flow: row wrap;
  }
}

.availability__content {
  flex: 1 1 50%;

  @include mq(800px) {
    flex: 1 1 100%;
    margin-bottom: 54px;
  }
}

.availability__title {
  @include typograph-head-2;
  color: $tundora;
  margin-bottom: 17px;

  @include mq(800px) {
    margin-bottom: 30px;
  }
}

.availability__description {
  @include typograph-plain-l;
  color: $tundora;
}

.availability__image {
  flex: 1 1 50%;

  @include mq(800px) {
    flex: 1 1 100%;
  }
}

.availability__img {
  width: 100%;

  @include mq(800px) {
    width: auto;
    margin: 0 auto;
    display: block;
  }

  @include mq(631px) {
    width: 100%;
  }
}
