.city-select__current-link {
  text-align: right;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;

  &:hover {
    color: $flamingo;
    cursor: pointer;
  }
}

.city-select__arrow {
  display: inline-block;
  margin-left: 5px;

  &--up {
    transform: rotate(180deg);
    position: relative;
    bottom: 2px;
  }
}

.city-select__cities {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.city-bg {
  background: rgba($black, 0.7);
  height: 100vh;
}

.city-select__cities-container {
  @include absolute-horizontal-center;
  width: 370px;
  box-shadow: 0 0 1px 0 rgba($black, 0.5);
  background: white;
}

.city-selected {
  @include typograph-plain-m;
  font-weight: $bold;
  color: $tundora;
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 25px;
  display: block;
  position: relative;
  text-decoration: none;

  &--online {
    &:before {
      @include absolute-vertical-center;
      content: '';
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $manz;
    }
  }

  &--offline {
    &:before {
      @include absolute-vertical-center;
      content: '';
      left: 0;
      width: 11px;
      height: 14px;
      background: url('./assets/main/svg/marker.svg') no-repeat;
    }
  }
}

.city-select__container {
  display: flex;
}

.city-select__item {
  flex: 1 1 50%;
}

.city-select__cities-list {
  padding: 30px 30px 0;
  margin: 0;
  list-style: none;
}

.city-select__cities-item {
  margin-bottom: 15px;
  position: relative;

  &--online {
    padding-left: 19px;

    &:before {
      @include absolute-vertical-center;
      content: '';
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $manz;
    }
  }
}

.city-select__cities-link {
  @include typograph-plain-m;
  font-size: 10px;
  text-decoration: none;
  color: $black;

  &:hover, &:active {
    color: $flamingo;
  }

  &--main {
    font-weight: $semibold;
  }
}
