.contact-info {
  padding-top: 54px;
  padding-bottom: 85px;
  background: $white;
}

.contact-info__container {
  @include wrapper(970px);
}

.contact-info__title {
  @include typograph-head-2;
  color: $tundora;
  font-weight: $semibold;
  margin-bottom: 48px;
}

.contact-info__list {
  display: flex;

  @include mq(970px) {
    flex-flow: row wrap;
  }
}

.contact-info__info {
  flex: 0 1 36%;
  padding-right: 54px;

  @include mq(970px) {
    padding: 0;
    flex: 1 1 100%;
    margin-bottom: 45px;
  }
}

.contact-info__subway {
  @include typograph-plain-l;
  font-weight: $semibold;
  margin-bottom: 1em;
  color: $flamingo;
}

.contact-info__address {
  @include typograph-plain-l;
  font-weight: $semibold;
  margin-bottom: 1em;
  color: $tundora;
}

.contact-info__work-time {
  @include typograph-plain-l;
  font-weight: $semibold;
  margin-bottom: 1em;
  color: $tundora;
}

.contact-info__phone {
  @include typograph-plain-l;
  font-weight: $semibold;
  margin-bottom: 1em;
  color: $tundora;
}

.contact-info__mail {
  @include typograph-plain-l;
  font-weight: $semibold;
  color: $tundora;
}

.contact-info__link {
  @include typograph-plain-l;
  font-weight: $semibold;
  text-decoration: none;
  color: $tundora;
}

.contact-info__photos {
  flex: 1 1 64%;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;

  @include mq(970px) {
    flex: 1 1 100%;
    padding-top: 0;
    justify-content: space-around;
  }
}

.contact-info__photo {
  flex: 1 1 calc(50% - 10px);

  &:nth-child(even) {
    img {
      display: block;
      margin: 0 0 0 auto;

      @include mq(970px) {
        margin: 0 auto;
      }
    }
  }

  @include mq(970px) {
    flex: 1 1 50%;
  }

  @include mq(680px) {
    display: none;
  }
}

.contact-info__img {
  @include mq(970px) {
    display: block;
    margin: 0 auto;
  }

  @include mq(360px) {
    width: 100%;
  }
}
