.details {
  padding-top: 58px;
  padding-bottom: 60px;
  background-image: linear-gradient(341deg, #eef1f6, #fcfdfd);
}

.details__container {
  @include wrapper(970px);
}

.details__title {
  @include typograph-head-2;
  color: $tundora;
  margin-bottom: 31px;
}

.details__table {

}

.details__row {
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;

  @include mq(700px) {
    flex-flow: row wrap;
  }
}

.details__cell-title {
  @include typograph-plain-l;
  font-weight: $semibold;
  color: $tundora;
  flex: 1 1 25%;

  @include mq(700px) {
    flex: 1 1 100%;
  }
}

.details__cell-content {
  @include typograph-plain-l;
  color: $tundora;
  flex: 1 1 75%;

  @include mq(700px) {
    flex: 1 1 100%;
  }
}
