.directions {
  position: relative;
  background-image: url('./assets/main/png/spot.png'), url('./assets/main/jpg/shapka-itog-right.jpg');
  background-repeat: no-repeat;
  background-position: 0 0, 100% -30px;
  background-color: $white;
  padding-bottom: 172px;
  padding-top: 116px;

  @include mq(1020px) {
    background-size: 151px, 640px;
    background-position: 0 0, 100% -25px;
  }

  @include mq(800px) {
    background-size: 121px, 460px;
    background-position: 0 0, 100% -20px;
  }

  @include mq(620px) {
    background-size: 101px, 340px;
    background-position: 0 0, 100% -15px;
  }

  @include mq(470px) {
    padding-bottom: 100px;
    padding-top: 203px;
  }

  @include mq(370px) {
    background-size: 101px, 280px;
    background-position: 0 0, 100% -10px;
  }

  &--alternative {
    background-image: url('./assets/main/png/alter.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color: $concrete;

    @include mq(1020px) {
      background-size: 70%;
    }

    @include mq(800px) {
      padding-top: 33px;
      padding-bottom: 30px;
      background-size: 80%;
      background-position: 100% 100%;
      background-image: url('./assets/main/png/bull-1468.png');
    }

    @include mq(420px) {
      background-size: 100%;
    }
  }
}

.directions__container {
  @include wrapper(952px);
}

.directions__title {
  @include typograph-head-1;
  color: $tundora;
  margin-bottom: 31px;

  @include mq(470px) {
    margin-bottom: 15px;

    br {
      display: none;
    }
  }
}

.directions__description {
  @include typograph-plain-l;
  color: $tundora;
  margin-bottom: 43px;

  &--alternative {
    @include mq(800px) {
      margin-bottom: 287px;
    }
  }
}

.directions__list-title {
  @include typograph-plain-l;
  text-transform: uppercase;
  margin-bottom: 39px;
  color: $tundora;

  @include mq(470px) {
    display: none;
  }

  &--alternative {
    @include mq(800px) {
      display: none;
    }
  }
}

.directions__list {
  display: flex;
  justify-content: flex-start;

  @include mq(350px) {
    flex-flow: row wrap;
  }
}

.directions__item {
  @include typograph-head-3;
  background: $white;
  box-shadow: 0 10px 30px 0 rgba(168, 190, 255, 0.5);
  color: $portage;
  border: solid 1px $portage;
  padding: 7px 53px;
  border-radius: 30px;
  display: inline-block;
  text-decoration: none;
  margin: 0 20px;
  cursor: pointer;

  &--alternative {
    background: $concrete;
  }

  @include mq(470px) {
    padding: 7px 30px;
    margin: 0;

    &:first-child {
      margin-right: 6px;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &.active,
  &:hover {
    box-shadow: 0 10px 30px 0 rgba(168, 190, 255, 0.5);
    border: solid 1px $portage;
    color: $white;
    background: $portage;
  }

  &.active {
    @include mq(470px) {
      padding: 7px 63px;
    }
  }

  &:hover {
    background-color: rgba($portage, 0.7);
  }

  @include mq(350px) {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0
    }
  }
}
