.education-system {
  background: $white;
  padding-top: 120px;
  padding-bottom: 120px;

  @include mq(700px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.education-system__container {
  @include wrapper(1256px)
}

.education-system__title {
  @include typograph-head-2;
  color: $tundora;
  font-weight: $semibold;
  padding-left: 143px;

  @include mq(1256px) {
    padding-left: 0;
    margin-bottom: 30px;
  }
}

.education-system__content {
  display: flex;
  justify-content: space-between;

  @include mq(1256px) {
    flex-flow: row wrap;
  }
}

.education-system__text {
  flex: 1 1 100%;
  padding-left: 143px;


  @include mq(1256px) {
    padding-left: 0;
  }
}

.education-system__subtitle {
  @include typograph-head-4;
  padding-top: 40px;
  font-weight: $semibold;
  margin-bottom: 30px;
  color: $tundora;


  @include mq(1256px) {
    padding-top: 0;
  }
}

.education-system__flamingo {
  color: $flamingo;
}

.education-system__description {
  padding-right: 49px;
  color: $tundora;

  @include mq(1256px) {
    padding-right: 0;
    margin-bottom: 40px;
  }
}

.education-system__image {
  flex: 0 1 613px;

  @include mq(1256px) {
    flex: 1 1 100%;
  }
}

.education-system__img {
  @include mq(1256px) {
    margin: 0 auto;
    display: block;
  }

  @include mq(643px) {
    width: 100%;
  }
}
