.event-hello {

  &.blank {
    padding-top: 82px;
    padding-bottom: 237px;
    background-image: url("./assets/events/png/hello/blank.png"), linear-gradient(332.87deg, #CFFFE6 -17.28%, #F9FDDE 100%);
    background-position: calc(50% - 166px) 100%, 0 0;
    background-repeat: no-repeat, no-repeat;
    background-size: 594px, auto;

    @include mq(974px) {
      background-position: 50% 100%, 0 0;
    }

    @include mq(860px) {
      background-size: 80%, auto;
    }

    @include mq(540px) {
      padding-top: 55px;
      padding-bottom: 155px;
      background-size: calc(100% - 40px), auto;
    }
  }

  &.vr {
    padding-top: 82px;
    padding-bottom: 337px;
    background-image: url("./assets/events/png/hello/vr.png"), linear-gradient(332.87deg, #536976 -17.28%, #292E49 100%);
    background-position: calc(50% - 175px) 100%, 0 0;
    background-repeat: no-repeat, no-repeat;
    background-size: 607px, auto;

    @include mq(974px) {
      background-position: 0 100%, 0 0;
      background-size: 400px, auto;
      padding-top: 82px;
      padding-bottom: 255px;
    }

    @include mq(540px) {
      padding-top: 55px;
      padding-bottom: 155px;
      background-size: 250px, auto;
    }
  }

  &.students {
    padding-top: 82px;
    background-image: url('./assets/events/png/hello/students.png'), url('./assets/events/png/hello/students-bg.jpg');
    background-position: calc(50% - 175px) 100%, 100% 0;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;

    @include mq(860px) {
      background: linear-gradient(325.19deg, #536976 51.4%, #292E49 100%);
      padding: 26px 0 44px;
    }
  }
}

.event-hello__container {
  @include wrapper(974px);
}

.event-hello__content {
  display: flex;
  align-items: flex-start;

  @include mq(860px) {
    flex-flow: row wrap;
  }

  .empty & {
    justify-content: flex-end;

    @include mq(860px) {
      justify-content: center;
    }
  }
}

.event-hello__text {
  flex: 1 1 50%;
  padding-right: 15px;

  .blank & {
    padding-left: 14px;
  }

  .empty & {
    display: none;
  }

  @include mq(860px) {
    flex: 1 1 100%;
    margin-bottom: 30px;
    padding: 0;
  }
}

.event-hello__label {
  display: inline-block;
  border-radius: 22px;
  @include typograph-plain-m;
  color: $tundora;
  margin-bottom: 10px;
  padding: 4px 17px;
  background: $chardonnay;
}

.event-hello__title {
  @include typograph-head-1;
  margin-bottom: 21px;

  .gray-color & {
    color: $tundora;
  }

  .white-color & {
    color: $white;
  }
}

.event-hello__subtitle {
  @include typograph-plain-l;
  margin-bottom: 40px;

  .gray-color & {
    color: $tundora;
  }

  .white-color & {
    color: $white;
  }
}

.event-hello__info {
  display: flex;
  margin-bottom: 34px;
  align-items: center;

  @include mq(400px) {
    flex-flow: row wrap;
  }
}

.event-hello__date {
  @include typograph-plain-l;
  font-weight: $semibold;
  margin-right: 1em;
  text-transform: uppercase;

  .text-gray & {
    color: $tundora;
  }

  .white-color & {
    color: $white;
  }

  @include mq(400px) {
    flex: 0 1 auto;
    margin-right: 0.5em;
  }
}

.event-hello__day-of-week {
  @include typograph-plain-m;
  font-weight: $semibold;
  padding-right: 16px;
  margin-right: 19px;
  border-right: 1px solid;

  .text-gray & {
    color: $tundora;
    border-right-color: $tundora;
  }

  .white-color & {
    color: $white;
    border-right-color: $white;
  }

  @include mq(400px) {
    flex: 1 1 70%;
    margin: 0;
    padding: 0;
    border: 0;
  }
}

.event-hello__time {
  @include typograph-plain-l;
  font-weight: $semibold;

  .text-gray & {
    color: $tundora;
  }

  .white-color & {
    color: $white;
  }

  @include mq(400px) {
    flex: 1 1 100%;
  }
}

.event-hello__descriptions {
  margin-bottom: 22px;
}

.event-hello__description {
  @include typograph-plain-l;
  margin-bottom: 0.5em;

  .text-gray & {
    color: $tundora;
  }

  .white-color & {
    color: $white;
  }
}

.event-hello__place {
  @include typograph-plain-l;
  margin-bottom: 23px;
  position: relative;
  padding-left: 21px;

  &:before {
    @include absolute-vertical-center;
    content: '';
    left: 0;
    width: 12.5px;
    height: 16px;
  }

  .gray-color & {
    color: $tundora;
  }

  .white-color & {
    color: $white;

    &:before {
      background: url('./assets/events/svg/marker-white.svg');
    }
  }
}

.event-hello__price {
  @include typograph-head-4;
  text-transform: uppercase;
  font-weight: $semibold;
  color: $tundora;

  .flamingo-price & {
    color: $flamingo;
  }

  .chardonnay-price & {
    color: $chardonnay;
  }
}

.event-hello__form {
  flex: 1 1 290px;

  @include mq(860px) {
    display: none;
  }

  .empty & {
    flex: 0 1 433px;

    @include mq(860px) {
      display: block;
      flex: 1 1 100%;
    }
  }
}

.event-hello__button {
  display: none;

  @include mq(860px) {
    display: block;
    flex: 1 1 100%;

    .empty & {
      display: none;
    }
  }
}

.event-hello__modal {
  @include button;

  .flamingo-button & {
    @include button($flamingo);
  }

  .portage-button & {
    @include button($portage);
  }
}
