.events {
  position: relative;
  padding-top: 61px;
  padding-bottom: 59px;
  overflow: hidden;
  background: $white;
}

.events__container {
  @include wrapper(924px);
}

.events__title {
  @include typograph-head-2;
  color: $tundora;
  text-align: center;
  font-weight: $semibold;
  margin-bottom: 50px;
}

.events__slider {
  position: relative;

  @include mq(660px) {
    padding-bottom: 116px;
  }
}

.events__slide {
  padding-top: 53px;
  width: 21.25%;

  &.active {
    padding-top: 0;
    width: 43.06%;
    position: relative;
  }
}

.events-slide__image {
  position: relative;
  margin-bottom: 35px;
}

.events-slide__img {
  margin: 0 auto;
  display: block;

  .active & {
    width: 100%;
  }
}

.events-slide__type {
  position: absolute;
  display: none;

  .active & {
    display: block;
    top: 17px;
    right: 13px;
    padding: 4px 13px;
    background: $flamingo;
    border-radius: 13px;
    color: $white;
  }
}

.events-slide__body {
  .active & {
    position: relative;
    width: calc(100% - 18px);
    left: 9px;
    bottom: 55px;
    background: $white;
    box-shadow: 0 20px 45px 0 rgba(155, 155, 155, 0.3);
    padding: 38px 18px 32px;

    @include mq(660px) {
      box-shadow: 0 5px 15px rgba(155, 155, 155, 0.30381);
    }
  }
}

.events-slide__title {
  @include typograph-plain-m;
  color: $tundora;
  text-align: center;

  .active & {
    @include typograph-plain-l;
    font-weight: $semibold;
    text-align: left;
    margin-bottom: 53px;

  }
}

.events-slide__when {
  display: none;

  .active & {
    display: flex;
    margin-bottom: 37px;
  }
}

.events-slide__date {
  display: none;

  .active & {
    @include typograph-plain-l;
    display: block;
    color: $flamingo;
    margin-right: 36px;
  }
}

.events-slide__time {
  display: none;

  .active & {
    @include typograph-plain-l;
    display: block;
    color: $flamingo;
  }
}

.events-slide__link {
  display: none;

  .active & {
    @include typograph-plain-m;
    color: $white;
    text-transform: uppercase;
    padding: 9px 20px;
    border-radius: 60px;
    display: inline-block;
    background: $portage;
    text-decoration: none;

    &:hover {
      box-shadow: 0 10px 30px 0 rgba(168, 190, 255, 0.5);
      color: $white;
      background-color: rgba($portage, 0.7);
    }
  }
}

.events__button {
  @include absolute-vertical-center;
  top: 25%;
  width: 36px;
  height: 36px;
  background: $white;
  border-radius: 50%;
  box-shadow: 0 2px 8px 0 rgba(133, 145, 176, 0.31);
  z-index: 10;
  cursor: pointer;

  &.swiper-button-disabled {
    opacity: 0.5;
    cursor: auto;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 1px $flamingo;
  }

  &:before {
    @include absolute-center;
    content: '';
    width: 16px;
    height: 14px;
  }

  &--prev {
    left: -18px;

    &:before {
      @include absolute-center;
      content: '';
      width: 16px;
      height: 14px;
      background: url('./assets/main/png/combined-shape.png');
    }
  }

  &--next {
    right: 18px;

    &:before {
      @include absolute-center;
      content: '';
      width: 16px;
      height: 14px;
      background: url('./assets/main/png/combined-shape-2.png');
    }
  }

  @include mq(1000px) {
    &--prev {
      left: 10px;
    }
  }

  @include mq(1000px) {
    &--next {
      right: 10px;
    }
  }

  @include mq(650px) {
    top: 15%;
  }
}

.events__footer {
  position: absolute;
  right: 0;
  bottom: 55px;
  z-index: 1;

  @include mq(660px) {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.events-footer__text {
  @include typograph-plain-m;
  color: $dusty-gray;
  margin-bottom: 24px;

  @include mq(660px) {
    display: none;
  }
}

.events-footer__link {
  @include typograph-plain-m;
  text-transform: uppercase;
  color: $portage;
  text-decoration: none;
  text-align: right;
  width: 100%;
  display: block;
  padding-right: 25px;
  position: relative;
  font-weight: $semibold;

  &:before {
    @include absolute-vertical-center;
    content: '';
    right: 0;
    width: 6px;
    height: 10px;
    background: url('./assets/main/svg/arrow-right.svg');
  }

  @include mq(660px) {
    text-align: center;
    display: inline;
    width: auto;
    padding: 10px 37px 10px 27px;
    border-radius: 60px;
    border: 1px solid $portage;

    &:before {
      right: 14px;
    }
  }
}

.swiper-pagination {
  display: none;

  @include mq(660px) {
    @include absolute-horizontal-center;
    display: block;
  }
}

.swiper-pagination-bullet {
  background: $botticelli;
  margin-right: 5px;
  width: 6px;
  height: 6px;
  opacity: 1;

  &:last-child {
    margin-right: 0;
  }

  &:focus {
    outline: 0;
    border: 1px solid $flamingo;
  }
}

.swiper-pagination-bullet-active {
  background: linear-gradient(180deg, #FA955F 0%, #F25C31 100%);
}
