.event-form {
  background: $white  ;
  box-shadow: 0px 20px 45px rgba(155, 155, 155, 0.30381);
  border-radius: 2px;
  padding: 40px 30px;

  &.without-shadow {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

.event-form__title {
  @include typograph-head-3;
  color: $flamingo;
  text-align: center;
  margin-bottom: 15px;
  font-weight: $semibold;
}

.event-form__description {
  @include typograph-plain-l;
  margin-bottom: 12px;
  color: $tundora;
  text-align: center;
}

.event-form__privacy-policy {
  @include typograph-plain-m;
  margin-top: 15px;
  color: $dusty-gray;

  @include mq(400px) {
    br {
      display: none;
    }
  }
}

.event-form__submit {
  .flamingo-button & {
    @include button($flamingo)
  }
  .portage-button & {
    @include button($portage);
  }
}
