.examination {
  padding-top: 120px;
  padding-bottom: 200px;
  background-image: url('./assets/teachers/png/examination-bg.png');
  background-color: $white;
  background-position: calc(50% - 230px) 100%;
  background-repeat: no-repeat;

  @include mq(970px) {
    padding-top: 60px;
    padding-bottom: 326px;
    background-position: 50% 100%;
    background-size: 26%;
  }

  @include mq(790px) {
    background-size: 32%;
  }

  @include mq(640px) {
    background-size: 42%;
  }

  @include mq(520px) {
    background-size: 55%;
  }

  @include mq(410px) {
    background-size: 60%;
  }

  @include mq(360px) {
    background-size: 75%;
  }
}

.examination__container {
  @include wrapper(970px);
}

.examination__title {
  @include typograph-head-2;
  margin-bottom: 30px;
  color: $tundora;
  padding-left: 50%;

  @include mq(970px) {
    padding-left: 0;
  }

  @include mq(520px) {
    font-size: 30px;
  }

  @include mq(410px) {
    font-size: 24px;
  }

  @include mq(360px) {
    font-size: 18px;
  }
}

.examination__subtitle {
  @include typograph-plain-l;
  color: $tundora;
  padding-left: 50%;

  @include mq(970px) {
    padding-left: 0;
  }
}
