.exam-prepare {
  position: relative;
  padding-top: 60px;
  padding-bottom: 130px;
  background: linear-gradient(347.16deg, #E5F1FF -0.26%, #FFF3EC 135.17%);
}

.exam-prepare__container {
  @include wrapper(972px);
}

.exam-prepare__inner {
  display: flex;

  @include mq(972px) {
    flex-flow: row wrap;
  }
}

.exam-prepare__text {
  flex: 1 1 33.3%;
  padding-top: 41px;

  @include mq(972px) {
    flex: 1 1 100%;
    margin-bottom: 20px;
    padding-top: 0;
  }
}

.exam-prepare__title {
  @include typograph-head-1;
  color: $tundora;
  margin-bottom: 22px;

  @include mq(972px) {
    text-align: center;
  }
}

.exam-prepare__description {
  @include typograph-plain-l;
  color: $tundora;

  @include mq(972px) {
    text-align: center;
  }
}

.exam-prepare__cards {
  flex: 1 1 66.6%;
  padding-left: 22px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include mq(972px) {
    align-items: stretch;
    padding-left: 0;
  }

  @include mq(730px) {
    flex-flow: row wrap;
  }
}

.exam-prepare__card {
  margin-top: 12px;
  flex: 0 1 calc(50% - 13px);
  background: $white;

  &.active {
    margin-top: 0;
  }

  @include mq(972px) {
    margin: 0;
  }

  @include mq(730px) {
    flex: 1 1 100%;
    margin-bottom: 25px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.exam-prepare__head {
  padding-top: 28px;
  padding-bottom: 28px;
  background: linear-gradient(283deg, #eef1f6, #fcfdfd);

  .exam-prepare__card.active & {
    background: linear-gradient(50deg, #f06e4b, #f8a078);
  }
}

.exam-prepare__start-title {
  @include typograph-head-4;
  color: $tundora;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  .exam-prepare__card.active & {
    color: $white;
  }
}

.exam-prepare__body {
  padding: 27px 30px 47px;
}

.exam-prepare__start {
  display: flex;
  justify-content: space-around;
  margin-bottom: 21px;
}

.exam-prepare__start-text {
  @include typograph-plain-l;
  font-weight: $semibold;
  color: $tundora;
}

.exam-prepare__date {
  @extend.exam-prepare__start-text;
}

.exam-prepare__card-description {
  @include typograph-plain-l;
  color: $tundora;
  text-align: center;
  margin-bottom: 21px;
}

.exam-prepare__cost {
  @include typograph-head-4;
  margin-bottom: 21px;
  text-align: center;
  color: $tundora;
}

.exam-prepare__select-wrapper {
  position: relative;
  margin-bottom: 20px;

  &:before {
    position: absolute;
    content: '';
    right: 3px;
    top: 3px;
    width: 40px;
    height: 33px;
    background: $white;
  }

  &:after {
    @include absolute-vertical-center;
    content: '';
    right: 8px;
    width: 12px;
    height: 5px;
    background: url('./assets/main/svg/shape.svg');
  }
}

.exam-prepare__subject {
  @include typograph-plain-m;
  color: $tundora;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  border: 1px solid $gallery;
  background: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom:  10px;
  padding-left: 10px;
  border-radius: 5px;

  &:focus {
    outline: 0;
    border: 1px solid $flamingo;
  }
}

.exam-prepare__link {
  @include typograph-plain-m;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 18px;
  width: 100%;
  padding: 10px 0;
  background: $portage;
  border-radius: 60px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  &:hover {
    box-shadow: 0 10px 30px 0 rgba(168, 190, 255, 0.5);
    border: solid 1px $portage;
    background: $portage;
  }
}

.exam-prepare__promo {
  display: none;

  .active & {
    @include typograph-plain-m;
    display: block;
    color: $flamingo;
    text-align: center;
  }
}
