.header {
  background: $white;
  box-shadow: 0 0 10px 0 #f4f4f4;
  position: relative;
  z-index: 1;
}

.header__container {
  @include wrapper(930px);
  display: flex;
  justify-content: space-between;
}

.header__logo {
  padding-top: 11px;
  padding-bottom: 9px;

  @include mq(500px) {
    display: flex;
    align-items: center;
  }
}

.header__logo-image {
  @include mq(500px) {
    margin-right: 13px;
  }
}

.header__events {
  display: none;

  @include mq(500px) {
    display: block;
    font-weight: $medium;
    text-decoration: none;
    color: $black;
  }
}

.header__right-block {
  display: flex;
}

.header__city-and-phone {
  @include typograph-plain-m;
  display: flex;
  flex-flow: wrap column;
  padding-right: 18px;
  margin-right: 43px;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-image-source: linear-gradient(to bottom, #fea040, #fc9367 15%, #b4b2fa 65%, #6d7eff);
  border-image-slice: 1;
  color: $dove-gray;
}

.header__city {
  @include typograph-plain-m;
  margin-bottom: 7px;
  padding-top: 12px;
  color: $dove-gray;
}

.header__phone {
  @include typograph-plain-m;
  margin-bottom: 16px;
  color: $dove-gray;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-text {
  @include typograph-plain-m;
  margin-right: 28px;
  color: $dove-gray;
  cursor: pointer;

  @include mq(500px) {
    display: none;
  }
}

.header__burger {
  cursor: pointer;
  margin: 0;
  display: inline-block;
  font-size: 0;
  width: 20px;
  height: 16px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;


  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(odd) {
      left:0;
      border-radius: 2px 0 0 2px;
      background: linear-gradient(0deg, #FEA040 0%, #FC9367 2%, #B4B2FA 98%, #6D7EFF 100%);
    }

    &:nth-child(even) {
      left: 50%;
      border-radius: 0 2px 2px 0;
      background: linear-gradient(0deg, #FEA040 0%, #FC9367 2%, #B4B2FA 98%, #6D7EFF 100%);
    }

    &:nth-child(1), &:nth-child(2) {
      top: 0;
    }

    &:nth-child(3), &:nth-child(4) {
      top: 7px;
    }

    &:nth-child(5), &:nth-child(6) {
      top: 14px;
    }
  }

  &.open span:nth-child(1), &.open span:nth-child(6) {
    transform: rotate(45deg);
  }

  &.open span:nth-child(2), &.open span:nth-child(5) {
    transform: rotate(-45deg);
  }

  &.open span:nth-child(1) {
    left: 1.5px;
    top: 3px;
  }

  &.open span:nth-child(2) {
    left: calc(50% - 1.5px);
    top: 3px;
  }

  &.open span:nth-child(3) {
    left: 0;
    opacity: 0;
  }

  &.open span:nth-child(4) {
    left: 50%;
    opacity: 0;
  }

  &.open span:nth-child(5) {
    left: 1.5px;
    top: 10px;
  }

  &.open span:nth-child(6) {
    left: calc(50% - 1.5px);
    top: 10px;
  }
}
