.include {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $white;
}

.include__container {
  @include wrapper(1000px);
}

.include__title {
  @include typograph-head-2;
  margin-bottom: 26px;
  color: $tundora;
  font-weight: $semibold;

  @include mq(600px) {
    text-align: center;
  }
}

.include__list {

}

.include__row {
  display: flex;
  align-items: center;

  &:last-child {
    .include__body {
      border: 0;
    }
  }

  &:last-child {
    .include__body {
      margin-bottom: 0;
    }
  }

  @include mq(1000px) {
    flex-flow: row wrap;
  }
}

.include__head {
  @include typograph-head-4;
  color: $tundora;
  flex: 1 1 27.5%;
  font-weight: $semibold;

  @include mq(1000px) {
    flex: 1 1 100%;
    margin-bottom: 30px;
  }

  @include mq(600px) {
    text-align: center;
  }
}

.include__body {
  flex: 1 1 72.5%;
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;
  border-bottom: 1px solid rgba($bali-hai, 0.2);

  @include mq(1000px) {
    flex: 1 1 100%;
    margin-bottom: 30px;
    padding: 0;
    border: 0;
  }
}

.include__item {
  flex: 1 1 33.3%;
  padding-left: 40px;

  @include mq(1000px) {
    margin-bottom: 20px;
    padding: 0;
  }

  @include mq(600px) {
    text-align: center;
  }
}

.include__value {
  @include typograph-head-2;
  font-weight: $medium;
  color: $flamingo;
  font-size: 30px;
  min-height: 51px;

  @include mq(600px) {
    text-align: center;
  }
}

.include__description {
  @include typograph-plain-l;
  color: $tundora;

  @include mq(600px) {
    text-align: center;
    @include typograph-plain-m;
  }

  @include mq(359px) {
    font-size: 11px;
  }
}

.include__img {
  margin-bottom: 20px;

  @include mq(600px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}
