.individual-approach {
  padding-top: 120px;
  padding-bottom: 390px;
  background-image: url('./assets/methods/svg/mount-desctop.svg'), linear-gradient(334.36deg, #EEF1F6 -17.28%, #FCFDFD 100%);
  background-position: calc(50% + 61px) calc(100% - 41px), 0 0;
  background-repeat: no-repeat, no-repeat;
  position: relative;

  @include mq(1020px) {
    padding-top: 60px;
    padding-bottom: 60px;
    background: linear-gradient(334.36deg, #EEF1F6 -17.28%, #FCFDFD 100%);
  }
}

.individual-approach__container {
  @include wrapper(964px)
}

.individual-approach__title {
  @include typograph-head-2;
  color: $tundora;
  margin-bottom: 19px;
}

.individual-approach__description {
  @include typograph-plain-l;
  color: $tundora;
  padding-right: 36.72%;

  @include mq(1020px) {
    padding-right: 0;
    margin-bottom: 50px;
  }
}

.individual-approach__image {
  display: none;
  position: relative;

  @include mq(1020px) {
    display: block;
    margin-bottom: 23px;

    &:before {
      position: absolute;
      content: '';
      width: 17px;
      height: 25px;
      left: calc(50% + 30px);
      top: 20px;
      background: url('./assets/methods/svg/man-mobile.svg');
    }
  }
}

.individual-approach__img {
  display: block;
  margin: 0 auto;

  @include mq(340px) {
    width: 100%;
  }
}

.individual-approach__mount-items {
  @include typograph-plain-l;
  font-weight: $semibold;
  color: $flamingo;

  &:before {
    position: absolute;
    content: '';
    width: 26px;
    height: 38px;
    left: calc(50% + 370px);
    bottom: 321px;
    background: url('./assets/methods/svg/man.svg');
  }

  @include mq(1020px) {
    &:before {
      display: none;
    }
  }
}

.individual-approach__mount-item-1 {
  position: absolute;
  left: calc(50% - 470px);
  bottom: 152px;
}

.individual-approach__mount-item-2 {
  position: absolute;
  left: calc(50% - 300px);
  bottom: 201px;
}

.individual-approach__mount-item-3 {
  position: absolute;
  left: calc(50% - 100px);
  bottom: 254px;
}

.individual-approach__mount-item-4 {
  position: absolute;
  left: calc(50% + 200px);
  bottom: 351px;
}

.individual-approach__mount-item {
  counter-increment: list;

  @include mq(1020px) {
    position: static;
    color: $tundora;
    margin-bottom: 20px;

    br {
      display: none;
    }

    &:before {
      @include typograph-head-3;
      content: counter(list) " ";
      color: $flamingo;
      font-weight: $bold;
    }
  }
}
