.integrated-approach {
  padding-top: 26px;
  padding-bottom: 12px;
  display: flex;
  flex-flow: row wrap;

  @include mq(760px) {
    padding-top: 26px;
    padding-bottom: 23px;
  }
}

.integrated-approach__title {
  @include typograph-plain-l;
  color: $tundora;
  margin-bottom: 42px;
  flex: 1 1 100%;

  @include mq(760px) {
    br {
      display: none;
    }

    margin-bottom: 15px;
  }
}

.integrated-approach__content {
  display: flex;
  align-items: flex-end;
  flex: 1 1 100%;

  @include mq(760px) {
    flex-flow: row wrap;
  }
}

.integrated-approach__list {
  flex: 1 1 50%;
  display: flex;
  counter-reset: list;
  flex-flow: row wrap;

  @include mq(760px) {
    flex: 1 1 100%;
    order: 2;
  }
}

.integrated-approach__item {
  @include typograph-plain-l;
  flex: 1 1 100%;
  align-items: flex-start;
  display: flex;
  color: $tundora;
  margin-bottom: 30px;

  &::before {
    @include typograph-head-3;
    font-weight: $bold;
    margin-right: 32px;
    counter-increment: list;
    content: counter(list) "";
    color: $flamingo;
  }

  @include mq(760px) {
    flex: 1 1 100%;
    padding: 0 50px;
  }

  @include mq(500px) {
    padding: 0;
  }
}

.integrated-approach__image {
  flex: 1 1 50%;

  @include mq(760px) {
    order: 1;
    flex: 1 1 100%;
    margin-bottom: 30px;
  }
}

.integrated-approach__img {
  display: block;
  margin: 0 auto;

  @include mq(500px) {
    margin: 0;
    width: 100%;
  }
}
