.maximum-goal {
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(345.11deg, #EEF1F6 -17.28%, #FCFDFD 100%);

  @include mq(986px) {
    padding-top: 40px;
  }
}

.maximum-goal__container {
  @include wrapper(986px);
}

.maximum-goal__content {
  display: flex;
  justify-content: space-between;

  @include mq(986px) {
    flex-flow: row wrap;
  }
}

.maximum-goal__image {
  flex: 1 1 43%;

  @include mq(986px) {
    flex: 1 1 100%;
    margin-bottom: 30px;
  }
}

.maximum-goal__img {
  @include mq(986px) {
    display: block;
    margin: 0 auto;
  }
  @include mq(500px) {
    width: 100%;
  }
}

.maximum-goal__text {
  flex: 1 1 52%;

  @include mq(986px) {
    flex: 1 1 100%;
  }
}

.maximum-goal__logo {
  margin-bottom: 21px;
}

.maximum-goal__logo-img {

}

.maximum-goal__title {
  @include typograph-plain-l;
  text-transform: uppercase;
  color: $flamingo;
  font-weight: $semibold;
  margin-bottom: 15px;

  @include mq(986px) {
    margin-bottom: 40px;
  }
}

.maximum-goal__description {
  @include typograph-plain-m;
  color: $tundora;
}
