.maximum-parts {
  padding-top: 55px;
  padding-bottom: 60px;
  background: linear-gradient(339.81deg, #EEF1F6 -17.28%, #FCFDFD 100%);
}

.maximum-parts__container {
  @include wrapper(958px);
}

.maximum-parts__title {
  @include typograph-head-2;
  font-weight: $semibold;
  margin-bottom: 72px;
  text-align: center;
  color: $tundora;
}

.maximum-parts__list {
  display: flex;

  @include mq(800px) {
    flex-flow: row wrap;
  }
}

.maximum-parts__item {
  flex: 1 1 33.3%;

  @include mq(800px) {
    flex: 1 1 100%;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.maximum-parts__image {
  display: block;
  margin: 0 auto 43px;
}

.maximum-parts__item-title {
  @include typograph-plain-l;
  text-align: center;
  font-weight: $semibold;
  text-transform: uppercase;
  margin-bottom: 11px;
  color: $tundora;
}

.maximum-parts__description {
  @include typograph-plain-m;
  color: $tundora;
  text-align: center;
  max-width: 250px;
  margin: 0 auto 15px;
}

.maximum-parts__link-wrapper {
  display: flex;
  justify-content: center;
}

.maximum-parts__link {
  @include typograph-plain-l;
  text-align: center;
  color: $portage;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding-right: 15px;

  &:after {
    @include absolute-vertical-center;
    content: '';
    right: 0;
    width: 6px;
    height: 10px;
    font-size: 18px;
    background: url('./assets/exam/png/shape.png') no-repeat;
  }
}
