.mentor-education {
  padding-top: 120px;
  padding-bottom: 200px;
  background: url('./assets/teachers/png/mentor-bg.png')$white no-repeat calc(50% - 320px) 100%;

  @include mq(1200px) {
    padding-top: 60px;
    padding-bottom: 363px;
    background-position: 50% 100%;
    background-size: 45%;
  }

  @include mq(1000px) {
    background-size: 55%;
  }

  @include mq(730px) {
    background-size: 70%;
  }

  @include mq(600px) {
    background-size: 90%;
  }

  @include mq(500px) {
    background-size: 100%;
    padding-bottom: 333px;
  }

  @include mq(360px) {
    background-size: contain;
    padding-bottom: 250px;
  }
}

.mentor-education__container {
  @include wrapper(970px);
}

.mentor-education__title {
  @include typograph-head-2;
  color: $tundora;
  padding-left: 50%;
  margin-bottom: 20px;

  @include mq(1200px) {
    padding-left: 0;
  }
}

.mentor-education__subtitle {
  @include typograph-plain-l;
  color: $tundora;
  padding-left: 50%;

  @include mq(1200px) {
    padding-left: 0;
  }
}
