.menu {
  position: absolute;
  top: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  left: -9999px;
  transition: 0.2s;
  background: $white;
  width: 100%;

  &[open="open"] {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}

.menu__container {
  @include wrapper(946px);
}

.menu__exam-prepare {
  background: $white;
  padding: 20px 0;
  border-bottom: 1px solid rgba($dusty-gray, 0.3);

  @include mq(560px) {
    padding: 40px 0 20px;
  }
}

.menu__prepare__content {
  display: flex;
  justify-content: space-between;

  @include mq(560px) {
    flex-flow: row wrap;
  }
}

.menu-exam-prepare__left {
  display: flex;

  @include mq(820px) {
    flex-flow: row wrap;
  }

  @include mq(560px) {
    margin-bottom: 40px;
  }
}

.menu-exam-prepare__title {
  @include typograph-plain-l;
  color: $tundora;
  font-weight: $semibold;
  margin-right: 96px;

  @include mq(820px) {
    flex: 1 1 100%;
    margin-bottom: 24px;
    margin-right: 0;
  }
}
.menu-exam-prepare__links {
  width: 210px;
  display: flex;
  justify-content: space-between;

  @include mq(820px) {
    width: 100%;
  }
}

.menu-exam-prepare__link {
  @include typograph-plain-l;
  text-transform: uppercase;
  color: $portage;
  text-decoration: none;

  @include mq(820px) {
    flex: 1 1 50%;
  }
}

.menu-exam-prepare__individual {
  @include typograph-plain-m;
  text-decoration: none;
  color: $oslo-gray;

  @include mq(560px) {
    flex: 1 1 100%;
  }
}

.menu__nav {
  padding: 33px 0 30px;

  @include mq(820px) {
    padding: 30px 0 34px;
  }
}

.nav__content {
  display: flex;
  justify-content: space-between;

  @include mq(820px) {
    flex-flow: row wrap;
  }
}

.nav__items {
  display: flex;
  justify-content: space-between;
  flex: 0 1 58%;
  margin: 0;
  padding: 0;
  list-style: none;

  @include mq(820px) {
    flex: 1 1 100%;
    margin-bottom: 30px;
  }

  @include mq(560px) {
    margin-bottom: 0;
    flex-flow: row wrap;
  }
}

.nav__item {
  @include typograph-plain-m;

  @include mq(560px) {
    flex: 1 1 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.nav__link {
  color: $oslo-gray;
  text-decoration: none;
}

.nav__login {
  @include typograph-plain-m;
  flex: 1 1 auto;
  text-align: right;
  color: $portage;
  text-decoration: underline  ;
  font-weight: $semibold;

  @include mq(820px) {
    flex: 1 1 100%;
    text-align: left;
  }

  @include mq(560px) {
    display: none;
  }
}

.menu-other__head {
  padding: 20px 0;
  background: linear-gradient(357.83deg, #EEF1F6 -17.28%, #FCFDFD 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
}

.menu-other__head-text {
  @include typograph-plain-m;
  color: $tundora;
  font-weight: $semibold;
  position: relative;

  &:before {
    @include absolute-vertical-center;
    content: '';
    right: 0;
    width: 10px;
    height: 5.6px;
    background: url('./assets/main/svg/caret-down.svg');
  }

  &.active {
    &:before {
      transform: translate(0, -50%) rotate(180deg);
    }
  }
}

.menu-other__body {
  display: none;
  padding: 30px 0 43px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);

  &.active {
    display: block;
  }
}

.menu-other__content {
  display: flex;
  justify-content: space-between;

  @include mq(560px) {
    flex-flow: row wrap;
  }
}

.menu-other__column {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  &:last-child {
    flex: 1 1 auto;

    @include mq(560px) {
      flex: 1 1 100%;
    }

    .menu-other__item {
      margin-bottom: 0;
    }
  }
}

.menu-other__item {
  flex: 0 1 33.3%;
  margin-bottom: 30px;
  padding-right: 15px;

  @include mq(946px) {
    flex: 0 1 50%;
  }

  @include mq(560px) {
    padding: 0;
    flex: 1 1 100%;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 40px;
    }
  }
}

.menu-other__title {
  @include typograph-plain-m;
  color: $tundora;
  font-weight: $semibold;
  margin-bottom: 15px;
  display: block;
  text-decoration: none;

  &--site {
    color: $flamingo;
    text-decoration: underline;
  }
}

.menu-other__description {
  @include typograph-plain-m;
  color: rgba($tundora, 0.6);
}

.menu__mobile {
  display: none;
  padding-top: 40px;
  padding-bottom: 74px;

  @include mq(560px) {
    display: block;
  }
}

.menu-mobile__login {
  @include typograph-plain-m;
  color: $portage;
  font-weight: $semibold;
  margin-bottom: 30px;
  text-decoration: underline;
  display: block;
}

.menu-mobile__contacts {

}

.menu-mobile__phone {
  @include typograph-plain-m;
  display: block;
  color: $oslo-gray;
  margin-bottom: 10px;
  text-decoration: none;
}

.menu-mobile__email {
  @extend .menu-mobile__phone
}

.menu-mobile__address {
  @extend .menu-mobile__phone
}

.menu-mobile__socials {
  display: flex;
  justify-content: space-between;
  width: 140px;
  align-items: center;
}

.menu-mobile__social {
  flex: 1 1 33.3%;
}

.menu-mobile__social-link {
  display: block;

  &--fb {
    width: 11px;
    height: 22px;
    background: url('./assets/main/svg/fb.svg');
  }

  &--inst {
    width: 21px;
    height: 22px;
    background: url('./assets/main/svg/inst.svg');
  }

  &--vk {
    width: 34px;
    height: 21px;
    background: url('./assets/main/svg/vk.svg');
  }
}
