.method-maximum {
  padding-top: 89px;
  padding-bottom: 270px;
  background: url('./assets/methods/jpg/books.jpg') no-repeat 50% -540% $white;
  background-size: auto;
}

.method-maximum__container {
  @include wrapper(658px);
}

.method-maximum__title {
  @include typograph-head-1;
  font-weight: $semibold;
  color: $tundora;
  margin-bottom: 26px;
  text-align: center;
}

.method-maximum__description {
  @include typograph-plain-l;
  color: $tundora;
  text-align: center;
}
