.necessary-knowledge {
  padding-top: 120px;
  padding-bottom: 331px;
  background: linear-gradient(337.55deg, #EEF1F6 -17.28%, #FCFDFD 100%);

  @include mq(600px) {
    padding-top: 60px;
  }
}

.necessary-knowledge__container {
  @include wrapper(778px);
}

.necessary-knowledge__title {
  @include typograph-head-2;
  text-align: center;
  margin-bottom: 40px;
  color: $tundora;

  @include mq(600px) {
    text-align: left;

    br {
      display: none;
    }
  }
}

.necessary-knowledge__text {
  @include typograph-plain-l;
  color: $tundora;
  text-align: center;

  @include mq(600px) {
    text-align: left;
    
    br {
      display: none;
    }
  }
}
