.next-step {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url('./assets/events/png/next-step.png');
  background-color: $white;
  background-position: calc(50% + 289px) 100%;
  background-repeat: no-repeat;

  @include mq(660px) {
    background: $white;
    padding-top: 60px;
    padding-bottom: 96px;
  }
}

.next-step__container {
    @include wrapper(944px);
}

.next-step__title {
  @include typograph-head-2;
  font-weight: $semibold;
  color: $tundora;
  margin-bottom: 24px;

  @include mq(600px) {
    br {
      display: none;
    }
  }
}

.next-step__description {
  @include typograph-plain-l;
  color: $tundora;
  margin-bottom: 24px;

  @include mq(600px) {
    br {
      display: none;
    }
  }
}

.next-step__list {
  margin: 0 0 27px;
  padding: 0;

  @include mq(944px) {
    padding-left: 20px;
  }
}

.next-step__item {
  margin-bottom: 0.5em;
  color: $dusty-gray;
}

.next-step__item-title {
  color: $flamingo;
}

.next-step__item-text {
  color: $tundora;
}

.next-step__button {
  @include button-empty;
}
