.online-platform {
  padding-top: 59px;
  padding-bottom: 23px;
}

.online-platform__content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

.online-platform__list {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 50%;

  @include mq(800px) {
    flex: 1 1 100%;
    order: 2;
  }
}

.online-platform__item {
  flex: 1 1 100%;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.online-platform__title {
  @include typograph-head-4;
  margin-bottom: 6px;
  color: $ship-gray;
  text-transform: uppercase;
  font-weight: $semibold;

  @include mq(800px) {
    br {
      display: none;
    }
  }
}

.online-platform__description {
  @include typograph-plain-l;
  color: $tundora;
}

.online-platform__image {
  flex: 1 1 50%;

  @include mq(800px) {
    flex: 1 1 100%;
    order: 1;
    margin-bottom: 27px;
  }
}

.online-platform__img {
  display: block;
  width: 100%;

  @include mq(800px) {
    width: auto;
    margin: 0 auto;
  }

  @include mq(510px) {
    width: 100%;
    margin: auto;
  }
}
