.program {
  padding-top: 64px;
  padding-bottom: 80px;
  background: $white;
}

.program__container {
  @include wrapper(596px)
}

.program__title {
  @include typograph-head-2;
  text-align: center;
  color: $tundora;
  margin-bottom: 50px;
}

.program__steps {
  margin-bottom: 60px;
}

.program__step {
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq(700px) {
    margin-bottom: 0;
    padding: 12px 0;
    border: solid rgba($dusty-gray, 0.2);
    border-width: 0 0 1px;

    &:last-child {
      border-width: 0;
    }
  }
}

.program__step-title {
  @include typograph-head-3;
  color: $flamingo;
  font-weight: $semibold;
  margin-bottom: 14px;

  @include mq(700px) {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    &:before {
      @include absolute-vertical-center;
      content: '';
      right: 3px;
      width: 9px;
      height: 15px;
      background: url('./assets/events/svg/caret-right.svg');
    }

    &.active {
      margin-bottom: 14px;
      &:before {
        width: 16px;
        height: 9px;
        background: url('./assets/events/svg/caret-down.svg');
      }
    }
  }
}

.program__step-list {
  @include mq(700px) {
    display: none;

    &.active {
      display: block;

      &:last-child {
        margin-bottom: 17px;
      }
    }
  }
}

.program__step-item {
  margin-bottom: 1em;
  display: flex;
}

.program__step-time {
  @include typograph-plain-l;
  color: $tundora;
  margin-right: 20px;

}

.program__step-value {

}

.program__popup-wrapper {
  display: flex;
  justify-content: center;
}

.program__popup {
  @include button($portage)
}
