.right-preparation {
  padding-top: 80px;
  padding-bottom: 80px;
  background: $white;

  @include mq(968px) {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

.right-preparation__container {
  @include wrapper(968px);
}

.right-preparation__title {
  @include typograph-head-2;
  color: $tundora;
  margin-bottom: 60px;

  @include mq(968px) {
    margin-bottom: 40px;
  }
}

.right-preparation__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include mq(968px) {
    flex-flow: row wrap;
  }
}

.right-preparation__item {
  counter-increment: list;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  &:before {
    @include typograph-head-1;
    content: counter(list) " ";
    color: $flamingo;
    margin-right: 10px;
    margin-bottom: 11px;
  }

  @include mq(968px) {
    flex: 1 1 100%;
    margin-bottom: 42px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.right-preparation__item-title {
  @include typograph-head-4;
  color: $tundora;
  line-height: 1.3;
  font-weight: $semibold;
  margin-bottom: 11px;

  @include mq(968px) {
    br {
      display: none;
    }
  }

  @include mq(460px) {
    br {
      display: block;
    }
  }
}

.right-preparation__description {
  @include typograph-plain-l;
  color: rgba($tundora, 0.8);

  @include mq(968px) {
    flex: 1 1 100%;
    br {
      display: none;
    }
  }

  @include mq(460px) {
    br {
      display: block;
    }
  }
}
