.schedule {
  padding-top: 36px;
  padding-bottom: 80px;
  background: $white;

  @include mq(800px) {
    padding-top: 63px;
    padding-bottom: 26px;
  }
}

.schedule__container {
  @include wrapper(968px)
}

.schedule__head {
  @include typograph-head-2;
  color: $tundora;
  margin-bottom: 19px;
  text-align: center;

  @include mq(600px) {
    font-size: 26px;
    line-height: calc(48/30)
  }
}

.schedule__marked {
  padding: 2px 10px;
  border-radius: 40px;

  &--offline {
    background: $flamingo;
    color: $white;
  }
  &--online {
    background: $manz;
  }
}

.schedule__description {
  @include typograph-plain-l;
  color: $tundora;
  text-align: center;
  margin-bottom: 21px;
}

.schedule__list {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.schedule__item {
  border-bottom: 1px solid rgba($oslo-gray, 0.2);
  padding: 21px 25px 22px;
  transition: 0.5s;

  &.active {
    padding: 28px 25px 27px;
    position: relative;
    overflow: hidden;

    &:before {
      position: absolute;
      content: '';
      width: 1155px;
      height: 410px;
      right: 224px;
      top: calc(100% - 106px);
      background: linear-gradient(90deg, #3023AE 0.26%, #53A0FD 48.26%, #B4EC51 101.26%);
      opacity: 0.2;
      border-radius: 1155px/410px;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  &:hover:not(.active) {
    background: linear-gradient(356.07deg, #EEF1F6 -17.28%, #FCFDFD 100%);
    cursor: pointer;
  }

  @include mq(800px) {
    padding: 17px 22px 26px;

    &.active {
      padding: 17px 22px 26px;
    }
  }
}

.schedule__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  .active & {
    margin-bottom: 11px;

    @include mq(800px) {
      margin-bottom: 19px;
    }
  }

  @include mq(800px) {
    flex-flow: row wrap;
  }
}

.schedule__header-item {
  display: flex;
  align-items: center;

  @include mq(800px) {
    flex: 1 1 100%;

    &:nth-child(1) {
      margin-bottom: 10px;
    }
  }
}

.schedule__title {
  @include typograph-plain-l;
  color: rgba($tundora, 0.7);
  font-weight: $semibold;

  .schedule__item:hover:not(.active) & {
    color: rgba($black, 0.7);
  }

  .active & {
    @include typograph-head-3;
    color: $tundora;
    font-weight: $semibold;
  }

  @include mq(800px) {
    color: $tundora;

    .active & {
      margin-bottom: 14px;
    }
  }
}

.schedule__status {
  &--online {
    width: 10px;
    height: 10px;
    background: $manz;
    border-radius: 50%;
    margin-right: 17px;
  }

  &--offline {
    width: 12px;
    height: 16px;
    margin-right: 16.5px;
    background: url('./assets/events/svg/marker.svg');
  }
}

.schedule__status-body {
  @include typograph-plain-m;
  position: relative;
  padding-left: 20px;
  margin-bottom: 26px;
  &:before {
    @include absolute-vertical-center;
    left: 0;
    content: '';
  }

  &--online {
    color: $tundora;

    &:before {
      width: 10px;
      height: 10px;
      background: $manz;
      border-radius: 50%;
      margin-right: 17px;
    }
  }

  &--offline {
    color: $flamingo;

    &:before {
      width: 12px;
      height: 16px;
      margin-right: 16.5px;
      background: url('./assets/events/svg/marker.svg');
    }
  }

  @include mq(800px) {
    @include typograph-plain-l;
    order: 1;
    flex: 0 1 auto;
    margin-right: 15px;
  }
}

.schedule__date {
  @include typograph-plain-l;
  color: rgba($tundora, 0.7);
  font-weight: $semibold;
  margin-right: 23px;
  white-space: nowrap;
  text-transform: uppercase;

  .schedule__item:hover:not(.active) & {
    color: rgba($black, 0.7);
  }

  .active & {
    color: $tundora
  }

  @include mq(800px) {
    font-size: 12px;
  }
}

.schedule__time {
  @extend .schedule__date;
  white-space: nowrap;
  margin-right: 0;
}

.schedule__body {
  display: none;
  margin-bottom: 23px;
  position: relative;
  z-index: 1;

  .active & {
    display: flex;
    justify-content: space-between;
  }

  @include mq(800px) {
    margin-bottom: 43px;
    flex-flow: row wrap;
  }
}

.schedule__info {
  @include mq(800px) {
    flex: 1 1 100%;
    order: 2;
    display: flex;
    flex-flow: row wrap;
  }
}

.schedule__level {
  @include typograph-plain-l;
  color: $dusty-gray;
  margin-bottom: 18px;

  @include mq(800px) {
    flex: 1 1 auto;
    order: 2
  }
}

.schedule__features {
  margin: 0;
  padding: 0;
  list-style: none;

  @include mq(800px) {
    flex: 1 1 100%;
    order: 3
  }
}

.schedule__feature {
  @include typograph-plain-m;
  color: $tundora;

  &:before {
    content: '- ';
  }
}

.schedule-body__image {
  @include mq(800px) {
    flex: 1 1 100%;
    order: 1;
    margin-bottom: 17px;
  }
}

.schedule-body__img {
  @include mq(800px) {
    display: block;
    margin: 0 auto;
  }

  @include mq(400px) {
    width: 100%;
  }
}

.schedule__footer {
  display: none;
  position: relative;
  z-index: 1;

  .active & {
    display: flex;
  }

  @include mq(800px) {
    flex-flow: row wrap;
  }
}

.schedule-form__group {
  max-width: 230px;
  margin-bottom: 0;
  .active & {
    padding-right: 0;
  }

  @include mq(800px) {
    max-width: none;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.schedule-form__valid-icon {
  .schedule__item.active & {
    right: 17px;
  }
}

.schedule-form__input-wrapper {

}

.schedule-form__submit {
  @include button;

  @include mq(800px) {
    margin: 0 auto;
    display: flex;
  }
}

.schedule__submit {
  @include button;

  @include mq(800px) {
    margin: 0 auto;
    display: flex;
  }
}
