.selection {
  padding-top: 120px;
  padding-bottom: 120px;
  background: linear-gradient(332.91deg, #EEF1F6 -17.28%, #FCFDFD 100%);
}

.selection__container {
  @include wrapper(1050px);
}

.selection__title {
  @include typograph-head-2;
  color: $tundora;
  margin-bottom: 16px;
  text-align: center;
}

.selection__subtitle {
  @include typograph-plain-l;
  max-width: 620px;
  color: $tundora;
  text-align: center;
  margin: 0 auto 68px;
}
