.simulation {
  padding-top: 80px;
  padding-bottom: 212px;
  background-image: url('./assets/methods/png/simulation.png'), linear-gradient(334.36deg, #EEF1F6 -17.28%, #FCFDFD 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 100%, 0 0;

  @include mq(1353px) {
    background: $white;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.simulation__container {
  @include wrapper(970px);
}

.simulation__title {
  @include typograph-head-2;
  color: $tundora;
  margin-bottom: 31px;
}

.simulation__subtitle {
  @include typograph-head-4;
  color: $tundora;
  margin-bottom: 2em;
}

.simulation__list {
  margin: 0 0 27px;
  padding: 0;

  @include mq(1030px) {
    padding-left: 20px;
  }
}

.simulation__item {
  color: $dusty-gray;
}

.simulation__text {
  @include typograph-head-4;
  color: $flamingo;
}

.simulation__description {
  @include typograph-plain-l;
  color: $tundora;
  max-width: 401px;

  @include mq(1353px) {
    max-width: none;
    margin-bottom: 65px;
  }
}

.simulation__image {
  display: none;

  @include mq(1353px) {
    display: block;
  }
}

.simulation__img {
  margin: 0 auto;
  display: block;

  @include mq(491px) {
    width: 100%;
  }
}
