.success-components {
  padding-top: 61px;
  padding-bottom: 47px;
  background: $white;
}

.success-components__container {
  @include wrapper(950px);
}

.success-components__title {
  @include typograph-head-2;
  margin-bottom: 50px;
  text-align: center;
  color: $tundora;
  font-weight: $semibold;
}

.success-components__tabs {

}

.success-components__tabs-header {
  display: flex;
  border: solid $alto;
  border-width: 0 0 1px;

  @include mq(950px) {
    background-color: #fff;
    min-width: 100%;
    min-height: 57px;
    overflow-x: auto;
  }
}

.success-components__tab-head {
  flex: 1 1 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
  cursor: pointer;

  &.active {
    border: solid $flamingo;
    border-width: 0 0 4px 0;
  }

  @include mq(950px) {
    flex: 1 1 auto;
    min-width: 210px;
  }
}

.success-components__tab-image {
  margin-right: 21px;
}

.success-components__tab-link {
  color: $tundora;
  text-decoration: none;

  @include mq(950px) {
    @include typograph-plain-m;
  }
}
