.teachers-maximum {
  padding-top: 91px;
  padding-bottom: 151px;
  background-image: url('./assets/teachers/png/teacher-bg.png');
  background-position: calc(50% + 300px) calc(100% + 206px);
  background-repeat: no-repeat;
  background-color: $white;

  @include mq(970px) {
    padding-top: 60px;
    padding-bottom: 270px;
    background-position: 50% calc(100% + 236px);
    background-size: contain;
  }

  @include mq(530px) {
    background-position: 50% calc(100% + 256px);
  }

  @include mq(380px) {
    background-position: 50% calc(100% + 200px);
  }
}

.teachers-maximum__container {
  @include wrapper(970px);
}

.teachers-maximum__title {
  @include typograph-head-1;
  margin-bottom: 20px;
  color: $tundora;

  @include mq(970px) {
    text-align: center;
  }

  @include mq(500px) {
    font-size: 26px;
  }
}

.teachers-maximum__description {
  @include typograph-plain-l;
  color: $tundora;
  max-width: 484px;

  @include mq(970px) {
    text-align: center;
    max-width: none;
  }
}
