.they {
  padding-top: 87px;
  padding-bottom: 261px;
  background: linear-gradient(331.12deg, #EEF1F6 -17.28%, #FCFDFD 100%);
}

.they__container {
  @include wrapper(1335px)
}

.they__title {
  @include typograph-head-2;
  color: $tundora;
  margin-bottom: 41px;
  text-align: center;
}

.they__slider {
  position: relative;
}

.they__slide {
  background: $flamingo;
}

.they__photo {
  .they__slide:hover & {
    opacity: 0.1;
  }
}

.they__avatar {
  width: 100%;
}

.they__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.they__name {
  @include typograph-head-3;
  color: $tundora;
  font-weight: $bold;
  padding: 43px 0 0 30px;

  .they__slide:hover & {
    display: none;
  }
}

.they__full-name {
  @include typograph-head-2;
  font-size: 30px;
  color: $tundora;
  font-weight: $bold;
  padding: 43px 38px 0 38px;
  margin-bottom: 1em;
  display: none;

  .they__slide:hover & {
    display: block;
  }

  @include mq(360px) {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.they__result {
  @include typograph-head-4;
  color: $black;
  padding: 0 38px 0 38px;
  display: none;
  margin-bottom: 1em;

  .they__slide:hover & {
    display: block;
  }

  @include mq(360px) {
    font-size: 15px;
    margin-bottom: 15px;
  }
}

.they__description {
  @include typograph-head-4;
  color: $tundora;
  padding: 0 38px 0 38px;
  display: none;

  .they__slide:hover & {
    display: block;
  }

  @include mq(360px) {
    font-size: 12px;
  }
}

.they__button {

  &--prev {

  }

  &--next {

  }
}
