.update-tasks {
  padding-top: 120px;
  padding-bottom: 60px;
  background: $white;

  @include mq(816px) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.update-tasks__container {
  @include wrapper(816px)
}

.update-tasks__title {
  @include typograph-head-2;
  font-weight: $semibold;
  margin-bottom: 22px;
  color: $tundora;
  text-align: center;

  @include mq(816px) {
    margin-bottom: 30px;
  }
}

.update-tasks__description {
  @include typograph-plain-l;
  color: $tundora;
  text-align: center;
  margin-bottom: 60px;

  @include mq(816px) {
    margin-bottom: 50px;

    br {
      display: none;
    }
  }
}

.update-tasks__img {
  @include mq(816px) {
    display: block;
    width: 100%;
  }
}
