.where-we-work {
  background: url('./assets/main/svg/map.svg') no-repeat $alabaster calc(50% + 183px) 50%;

  @include mq(800px) {
    background: url('./assets/main/svg/map.svg') no-repeat $alabaster 50% 10px;
    background-size: contain;
  }
  @include mq(600px) {
    background: url('./assets/main/svg/map.svg') no-repeat $alabaster 50% 25%;
    background-size: contain;
  }
  @include mq(380px) {
    background: url('./assets/main/svg/map.svg') no-repeat $alabaster 50% 20%;
    background-size: contain;
  }
}

.where-we-work__container {
  @include wrapper(958px);
  padding-top: 65px;
  padding-bottom: 69px;

  @include mq(800px) {
    padding-top: 60px;
    padding-bottom: 57px;
  }
}

.where-we-work__title {
  @include typograph-head-2;
  text-align: left;
  margin-bottom: 19px;
  color: $tundora;

  @include mq(800px) {
    text-align: center;
    margin-bottom: 15px;
  }
}

.where-we-work__description {
  @include typograph-head-4;
  margin-bottom: 56px;
  color: $tundora;

  @include mq(800px) {
    text-align: center;
    margin-bottom: 273px;

    br {
      display: none;
    }
  }

  @include mq(560px) {
    margin-bottom: 173px;
  }
}

.where-we-work__content {
  display: flex;
  align-items: flex-end;

  @include mq(800px) {
    flex-flow: row wrap;
  }
}

.where-we-work__cities {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 380px;
  flex: 1 1 46%;

  &:last-child {
    flex: 1 1 54%;
  }

  @include mq(958px) {
    flex: 1 1 30%;

    &:last-child {
      flex: 1 1 70%;
    }
  }

  @include mq(800px) {
    flex: 1 1 100%;

    &:last-child {
      flex: 1 1 100%;
    }
  }
  &:last-child {
    .where-we-work__city {
      @include mq(450px) {
        flex: 1 1 100%;
      }
    }
  }
}

.where-we-work__city {
  @include typograph-plain-l;
  flex: 1 1 50%;
  margin-bottom: 1em;
  color: $tundora;

  @include mq(800px) {
    text-align: center;
  }

  @include mq(450px) {
    text-align: left;
  }

  @include mq(340px) {
    flex: 1 1 100%;
  }
}


