.work-flow {
  padding-top: 80px;
  background: $white;

  &--2 {
    background: linear-gradient(334.8deg, #EEF1F6 -17.28%, #FCFDFD 100%);
  }
}

.work-flow__container {
  width: 100%;
}

.work-flow__title {
  @include typograph-head-2;
  color: $tundora;
  text-align: center;
  margin-bottom: 40px;
}

.work-flow__slider {

}

.work-flow__slide {
  width: 50%;
}

.work-flow__image {
  display: inline-block;
}

.work-flow__img {
  display: block;
  width: 100%;
}

.work-flow__button {
  @include absolute-vertical-center;
  content: '';
  width: 36px;
  height: 36px;
  background-color: $white;
  box-shadow: 0 2px 8px 0 rgba(133, 145, 176, 0.31);
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;

  &.swiper-button-disabled {
    opacity: 0.5;
    cursor: auto;
  }

  &:before {
    @include absolute-center;
    content: '';
    width: 16px;
    height: 14px;
  }

  &--prev {
    left: calc(25% - 76px);

    &:before {
      @include absolute-center;
      content: '';
      width: 16px;
      height: 14px;
      background: url('./assets/main/png/combined-shape.png');
    }
  }

  &--next {
    right: calc(25% - 76px);

    &:before {
      @include absolute-center;
      content: '';
      width: 16px;
      height: 14px;
      background: url('./assets/main/png/combined-shape-2.png');
    }
  }
}

.work-flow__slide.swiper-slide {
  opacity: 0.4;
}

.work-flow__slide.swiper-slide-active {
  opacity: 1;
}
