.world-experience {
  padding-top: 120px;
  padding-bottom: 135px;
  background: linear-gradient(334.84deg, #EEF1F6 -17.28%, #FCFDFD 100%);

  @include mq(600px) {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

.world-experience__container {
  @include wrapper(764px)
}

.world-experience__title {
  @include typograph-head-2;
  color: $tundora;
  margin-bottom: 15px;
  text-align: center;

}

.world-experience__description {
  @include typograph-plain-l;
  text-align: center;
  color: $tundora;
  margin-bottom: 46px;
}

.world-experience__timeline {
  padding-left: 20.2%;

  @include mq(1000px) {
    padding-left: 10%;
  }

  @include mq(700px) {
    padding-left: 15px;
  }

  @include mq(600px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.timeline {
  display: flex;
  align-items: flex-start;

  @include mq(600px) {
    flex-flow: column wrap;
  }
}

.timeline__item {
  @include mq(600px) {
    display: flex;
    height: 150px;
  }
}

.timeline__header {
  flex: 1 1 100%;
  max-height: 88px;
  height: 88px;

  @include mq(600px) {
    order: 3;
    max-height: none;
    height: auto;
    flex: 1 1 auto;
    display: none;
  }
}

.timeline__line {
  display: flex;
  flex-flow: row wrap;

  @include mq(600px) {
    order: 1;
    flex: 0 1 100px;
  }
}

.timeline__point {
  flex: 1 1 100%;
  position: relative;
  height: 16px;

  &:before {
    @include absolute-vertical-center;
    content: '';
    left: 0;
    height: 2px;
    width: 100%;
    background: $flamingo;
    z-index: 1;

    @include mq(600px) {
      @include absolute-horizontal-center;
      height: 100%;
      width: 2px;
      top: 0;
    }
  }

  @include mq(600px) {
    height: auto;
  }
}

.timeline__point-image {
  @include absolute-vertical-center;
  left: 0;
  z-index: 2;

  @include mq(600px) {
    position: relative;
    transform: none;
    top: auto;
  }
}

.timeline__point-plain {
  @include absolute-vertical-center;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: $flamingo;
  border-radius: 50%;
  left: 0;
  z-index: 2;

  @include mq(600px) {
    @include absolute-horizontal-center;
    top: 0;
  }
}

.timeline__footer {
  flex: 1 1 100%;
  margin-top: 21px;

  .timeline__item--image & {
    margin-top: 51px;

    @include mq(600px) {
      margin-top: 0;
    }
  }

  @include mq(600px) {
    order: 2;
    flex: 1 1 calc(100% - 100px);
    margin-top: 0;
    padding-left: 20px;
  }
}

.timeline__footer-title {
  @include typograph-plain-l;
  color: $tundora;
  font-weight: $semibold;
  margin-bottom: 20px;
}

.timeline__footer-text {
  @include typograph-plain-m;
  color: $tundora;
  padding-right: 20%;


  @include mq(600px) {
    padding-right: 0;
  }
}
