<template>
  <div class="contacts">
    <Header></Header>
    <contact-info></contact-info>
    <map-component></map-component>
    <Details></Details>
    <Footer></Footer>
  </div>
</template>
Hostname: ilia-test.dpush.ru
Username: admin_ilia
Password: pJA2FZ0GGB
<script>
import Header from '@/components/Header'
import ContactInfo from '@/components/ContactInfo'
import MapComponent from '@/components/MapComponent'
import Details from '@/components/Details'
import Footer from '@/components/Footer'
export default {
  name: 'Contacts',
  components: {
    Header,
    ContactInfo,
    MapComponent,
    Details,
    Footer
  }
}
</script>
