<template>
  <div>
    <Header></Header>
    <section class="error-503">
      <div class="error-503__container">
        <div class="error-503__image">
          <img src="../assets/errors/503.jpg" alt="Ошибка 503" class="error-503__img">
        </div>
        <div class="error-503__title">Что-то пошло не так</div>
        <div class="error-503__text">Прямо сейчас сайт недоступен, но мы скоро это исправим!<br> Если у вас срочный вопрос, позвоните нам <a href="tel:88007755381" class="error-503__link">8 (800) 775 53 81</a> (звонок бесплатный по России)<br> или напишите нам на email: <a href="mailto:info@maximumtest.ru" class="error-503__link">info@maximumtest.ru</a>
        </div>
        <div class="error-503__text">Также можете задать вопрос или поискать нужную информацию <br> в наших сообществах в социальных сетях</div>
        <div class="error-503__socials">
          <div class="error-503__social">
            <a href="https://fb.com" class="error-503__social-link error-503__social-link--fb"></a>
          </div>
          <div class="error-503__social">
            <a href="https://instagram.com" class="error-503__social-link error-503__social-link--inst"></a>
          </div>
          <div class="error-503__social">
            <a href="https://vk.com" class="error-503__social-link error-503__social-link--vk"></a>
          </div>
        </div>
      </div>
    </section>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
export default {
  name: 'Error503',
  components: {
    Header,
    Footer
  }
}
</script>
