<template>
  <div>
    <Header></Header>
    <section class="error-404">
      <div class="error-404__container">
        <div class="error-404__image">
          <img src="../assets/errors/404.jpg" alt="Ошибка 404" class="error-404__img">
        </div>
        <div class="error-404__title">Такой страницы нет</div>
        <div class="error-404__text">Кажется, вы хотели попасть на страницу, которой больше нет <emoji-icon class="e1a-disappointed"></emoji-icon> <br> Попробуйте найти то, что вам нужно, в других разделах сайта:</div>
        <nav class="error-404__nav">
          <a href="#" @click.prevent class="error-404__link">Подготовка к ЕГЭ/ОГЭ</a>
          <a href="#" @click.prevent class="error-404__link">Английский</a>
          <a href="#" @click.prevent class="error-404__link">Мероприятия</a>
          <a href="#" @click.prevent class="error-404__link">Профориентация и развитие подростков</a>
          <a href="#" @click.prevent class="error-404__link">Digital Skills</a>
        </nav>
      </div>
    </section>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import EmojiIcon from 'vue-bulma-emoji/src/EmojiIcon'

export default {
  name: 'Error404',
  components: {
    Header,
    Footer,
    EmojiIcon
  }
}
</script>
