<template>
  <div class="events-page">
    <Header></Header>
    <work-shop></work-shop>
    <schedule></schedule>
    <events-flow></events-flow>
    <testimonials :title="`Отзывы участников`" :classes="[`white`]"></testimonials>
    <maximum-goal></maximum-goal>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '@/components/Header'
import WorkShop from '@/components/WorkShop'
import Schedule from '@/components/Schedule'
import EventsFlow from '@/components/EventsFlow'
import Testimonials from '@/components/Testimonials'
import MaximumGoal from '@/components/MaximumGoal'
import Footer from '@/components/Footer'
export default {
  name: 'Events',
  components: {
    Header,
    WorkShop,
    Testimonials,
    MaximumGoal,
    Footer,
    EventsFlow,
    Schedule
  }
}
</script>
