<template>
  <div class="event-offline">
    <Header></Header>
    <!--в descriptions передается коллекция. Если нужно одно описание, передавать массив с одним элементом-->
    <event-hello
      :title="`«Профессии будущего»`"
      :subtitle="`Узнай всё о выборе профессии`"
      :descriptions="[]"
      :date="new Date(`2018-05-29`)"
      :timeStart="`11:00`"
      :timeEnd="`13:00`"
      :label="'Онлайн мастер-класс'"
      :place="`центр Благосфера, 1-ый Боткинский проезд 7 стр. 1 (м. Динамо)`"
      :price="`Участие бесплатно`"
      :classes="['vr', 'white-color', 'chardonnay-price', 'flamingo-button']"
    ></event-hello>
    <next-step></next-step>
    <speaker></speaker>
    <program></program>
    <statistics></statistics>
    <event-hello
      :title="''"
      :subtitle="``"
      :descriptions="[]"
      :date="new Date(`1970-01-01`)"
      :timeStart="``"
      :timeEnd="``"
      :label="''"
      :place="``"
      :price="``"
      :classes="['students', 'flamingo-button', 'empty']"
    ></event-hello>
    <events-flow></events-flow>
    <testimonials :title="`Отзывы участников`" :classes="[`white`]"></testimonials>
    <maximum-goal></maximum-goal>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '@/components/Header'
import EventHello from '@/components/EventHello'
import NextStep from '@/components/NextStep'
import Speaker from '@/components/Speaker'
import Program from '@/components/Program'
import Statistics from '@/components/Statistics'
import EventsFlow from '@/components/EventsFlow'
import Testimonials from '@/components/Testimonials'
import MaximumGoal from '@/components/MaximumGoal'
import Footer from '@/components/Footer'
export default {
  name: 'EventOffline',
  components: {
    Header,
    EventHello,
    NextStep,
    Speaker,
    Program,
    Statistics,
    EventsFlow,
    Testimonials,
    MaximumGoal,
    Footer
  }
}
</script>
