<template>
  <div class="event-online">
    <Header></Header>
    <!--в descriptions передается коллекция. Если нужно одно описание, передавать массив с одним элементом-->
    <event-hello
      :title="`Как сдать ЕГЭ по физике на 80+?`"
      :descriptions="[`Как решать задания <strong>из второй части?</strong>`, `Как сдать <strong>ЕГЭ на 80 баллов</strong> и больше?`, `Какие <strong>ошибки</strong> встречаются чаще всего?`]"
      :date="new Date(`2018-08-15`)"
      :timeStart="`11:00`"
      :timeEnd="`13:00`"
      :label="'Онлайн мастер-класс'"
      :price="`Участие бесплатно`"
      :classes="['blank', 'gray-color', 'flamingo-price', 'portage-button']"
    ></event-hello>
    <right-preparation> </right-preparation>
    <Video
    :title="`Почему мы знаем о ЕГЭ всё:`"
    :subtitle="``"
    :videoId="`dm5PFZNvnhw`"
    :description="`Отзыв выпускника MAXIMUM, Никита Киселёв`"
    ></Video>
    <promo></promo>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '@/components/Header'
import EventHello from '@/components/EventHello'
import RightPreparation from '@/components/RightPreparation'
import Video from '@/components/Video'
import Promo from '@/components/Promo'
import Footer from '@/components/Footer'
export default {
  name: 'EventOnline',
  components: {
    Header,
    EventHello,
    RightPreparation,
    Video,
    Promo,
    Footer
  }
}
</script>
