<template>
  <div class="exam">
    <Header></Header>
    <exam-prepare></exam-prepare>
    <Include></Include>
    <maximum-parts></maximum-parts>
    <!--<maximum-parts2></maximum-parts2>-->
    <work-flow></work-flow>
    <f-a-q></f-a-q>
    <Form></Form>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '@/components/Header'
import ExamPrepare from '@/components/ExamPrepare'
import MaximumParts from '@/components/MaximumParts'
import MaximumParts2 from '@/components/MaximumParts2'
import FAQ from '@/components/FAQ'
import Form from '@/components/Form'
import Footer from '@/components/Footer'
import Include from '@/components/Include'
import WorkFlow from '@/components/WorkFlow'

export default {
  name: 'Exam',
  components: {
    WorkFlow,
    Include,
    Header,
    ExamPrepare,
    MaximumParts,
    MaximumParts2,
    FAQ,
    Form,
    Footer
  }
}
</script>
