<template>
  <div class="home">
    <Header></Header>
    <directions></directions>
    <what-is-maximum></what-is-maximum>
    <success-components></success-components>
    <where-we-work></where-we-work>
    <start-right-now></start-right-now>
    <testimonials :title="`Отзывы родителей и учеников`"></testimonials>
    <events></events>
    <Form></Form>
    <Footer></Footer>
    <directions-alternative></directions-alternative>
  </div>
</template>

<script>
import Header from '@/components/Header'
import Directions from '@/components/Directions'
import DirectionsAlternative from '@/components/DirectionsAlternative'
import SuccessComponents from '@/components/SuccessComponents'
import WhatIsMaximum from '@/components/WhatIsMaximum'
import WhereWeWork from '@/components/WhereWeWork'
import StartRightNow from '@/components/StartRightNow'
import Testimonials from '@/components/Testimonials'
import Events from '@/components/Events'
import Form from '@/components/Form'
import Footer from '@/components/Footer'

export default {
  name: 'home',
  components: {
    Header,
    Directions,
    DirectionsAlternative,
    SuccessComponents,
    WhatIsMaximum,
    WhereWeWork,
    StartRightNow,
    Testimonials,
    Events,
    Form,
    Footer
  }
}
</script>
