<template>
  <div>
    <Header></Header>
    <method-maximum></method-maximum>
    <world-experience></world-experience>
    <education-system></education-system>
    <necessary-knowledge></necessary-knowledge>
    <update-tasks></update-tasks>
    <individual-approach></individual-approach>
    <alternative-methods></alternative-methods>
    <simulation></simulation>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '@/components/Header'
import MethodMaximum from '@/components/MethodMaximum'
import WorldExperience from '@/components/WorldExperience'
import EducationSystem from '@/components/EducationSystem'
import NecessaryKnowledge from '@/components/NecessaryKnowledge'
import UpdateTasks from '@/components/UpdateTasks'
import IndividualApproach from '@/components/IndividualApproach'
import AlternativeMethods from '@/components/AlternativeMethods'
import Simulation from '@/components/Simulation'
import Footer from '@/components/Footer'
export default {
  name: 'Methods',
  components: {
    Header,
    MethodMaximum,
    WorldExperience,
    EducationSystem,
    NecessaryKnowledge,
    UpdateTasks,
    IndividualApproach,
    AlternativeMethods,
    Simulation,
    Footer
  }
}
</script>
