<template>
  <div class="teachers">
    <Header></Header>
    <teachers-maximum></teachers-maximum>
    <selection></selection>
    <mentor-education></mentor-education>
    <availability></availability>
    <examination></examination>
    <they></they>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '@/components/Header'
import TeachersMaximum from '@/components/TeachersMaximum'
import Selection from '@/components/Selection'
import MentorEducation from '@/components/MentorEducation'
import Availability from '@/components/Availability'
import Examination from '@/components/Examination'
import They from '@/components/They'
import Footer from '@/components/Footer'
export default {
  name: 'Teachers',
  components: {
    Header,
    TeachersMaximum,
    Selection,
    MentorEducation,
    Availability,
    Examination,
    They,
    Footer
  }
}
</script>
