<template>
  <div class="alternative-methods">
    <div class="alternative-methods__container">
      <div class="alternative-methods__wrapper">
        <div class="alternative-methods__image">
          <img src="../assets/methods/png/task.png" alt="Задание" class="alternative-methods__img">
        </div>
        <div class="alternative-methods__content">
          <div class="alternative-methods__title">Альтернативые методы решения</div>
          <div class="alternative-methods__text">80% времени курса посвящается работе над заданиями. Это вдумчивый процесс, в ходе которого ученик вместе с преподавателем разбирается в том, что имеют в виду составители задач. А еще преподаватели каждого предмета поделятся альтернативными методами решения, которые помогут справляться с заданиями в разы быстрее и сэкономить свое время на экзамене.</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AlternativeMethods'
}
</script>
