<template>
  <section class="availability">
    <div class="availability__container">
      <div class="availability__wrapper">
        <div class="availability__content">
          <div class="availability__title">Доступность 24/7</div>
          <div class="availability__description">Преподаватели MAXIMUM станут понимающими наставниками на протяжении всего курса, будут на связи 24/7, научат думать и верить в себя.</div>
        </div>
        <div class="availability__image">
          <img src="../assets/teachers/png/chat.png" alt="Чат" class="availability__img">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Availability'
}
</script>
