<template>
  <div class="header__city">
    <div :href="selectedCity.link" class="city-select__current-link" @click="reverse(isActive)">{{selectedCity.title}} <img class="city-select__arrow" :class="arrowDirection" src="../assets/main/svg/shape.svg"></div>
    <div class="city-select__cities" v-if="isActive">
      <div class="city-bg" @click.prevent="reverse(isActive)">
        <div class="city-select__cities-container">
          <a :href="selectedCity.link" :class="`city-selected--${selectedCity.type}`" @click.prevent class="city-selected">{{selectedCity.title}}</a>
          <div class="city-select__container">
            <div class="city-select__item">
              <ul class="city-select__cities-list">
                <li v-for="item in cities.mainCitys" :key="item.title" class="city-select__cities-item" @click="setSelectedCity(item)">
                  <a href="#" @click.prevent class="city-select__cities-link city-select__cities-link--main">{{item.title}}</a>
                </li>
              </ul>
              <ul class="city-select__cities-list">
                <li v-for="item in cities.cities" :key="item.title" class="city-select__cities-item" @click="setSelectedCity(item)">
                  <a href="#" @click.prevent class="city-select__cities-link">{{item.title}}</a>
                </li>
              </ul>
            </div>
            <div class="city-select__item">
              <ul class="city-select__cities-list">
                <li v-for="item in cities.cities2" :key="item.title" class="city-select__cities-item" @click="setSelectedCity(item)">
                  <a href="#" @click.prevent class="city-select__cities-link">{{item.title}}</a>
                </li>
              </ul>
            </div>
          </div>
          <ul class="city-select__cities-list">
            <li v-for="item in cities.otherCity" :key="item.title" class="city-select__cities-item" :class="`city-select__cities-item--${item.type}`" @click="setSelectedCity(item)">
              <a href="#" @click.prevent class="city-select__cities-link">{{item.title}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CitySelect',
  props: {
    cities: {
      type: Object,
      default: function () { return [{link: '#', title: 'Местоположение не определено'}] }
    },
    selectedCity: {
      type: Object,
      default: function () { return this.cities[0] }
    }
  },
  data () {
    return {
      isActive: false
    }
  },
  computed: {
    arrowDirection () {
      if (this.isActive === true) {
        return 'city-select__arrow--up'
      } else {
        return 'city-select__arrow--down'
      }
    }
  },
  methods: {
    reverse (v) {
      if (typeof v === 'boolean') {
        this.isActive = !v
      }
    },
    setSelectedCity (item) {
      this.selectedCity = item
      this.isActive = false
    }
  },
  watch: {
    isActive () {
      if (this.isActive === true) {
        const html = document.querySelector('body')
        html.classList.add('no-scroll')
      } else {
        const html = document.querySelector('body')
        html.classList.remove('no-scroll')
      }
    }
  }
}
</script>
