<template>
  <div class="contact-info">
    <div class="contact-info__container">
      <div class="contact-info__title">Контакты</div>
      <div class="contact-info__list">
        <div class="contact-info__info">
          <div class="contact-info__subway">м. Деловой центр</div>
          <div class="contact-info__address">ул Бульвар Большой, дом 42 стр1, этаж 4, пом. 1541</div>
          <div class="contact-info__work-time">Режим работы: 10:00 - 18:00</div>
          <div class="contact-info__phone">
            Телефон:
            <a href="tel:+780077583711" class="contact-info__link">8 (800) 775 83 711</a>
          </div>
          <div class="contact-info__mail">
            Почта:
            <a href="mailto:info@maximumtest.ru" class="contact-info__link">info@maximumtest.ru</a>
          </div>
        </div>
        <div class="contact-info__photos">
          <div class="contact-info__photo">
            <img src="../assets/contacts/png/child.png" alt="Ребенок" class="contact-info__img">
          </div>
          <div class="contact-info__photo">
            <img src="../assets/contacts/png/ofice.png" alt="Офис" class="contact-info__img">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContactInfo'
}
</script>
