<template>
  <div class="details">
    <div class="details__container">
      <div class="details__title">Реквизиты</div>
      <div class="details__table">
        <div class="details__row">
          <div class="details__cell-title">Наименование</div>
          <div class="details__cell-content">Общество с ограниченной ответственностью "Юмакс"</div>
        </div>
        <div class="details__row">
          <div class="details__cell-title">Юридический адрес</div>
          <div class="details__cell-content">121205, г. Москва, территория СКОЛКОВО инновационного центра, Бульвар Большой, дом 42, строение 1, этаж 4, пом. 1541.</div>
        </div>
        <div class="details__row">
          <div class="details__cell-title">ОГРН</div>
          <div class="details__cell-content">1137746119830</div>
        </div>
        <div class="details__row">
          <div class="details__cell-title">ИНН/КПП</div>
          <div class="details__cell-content">7730681080/773101001</div>
        </div>
        <div class="details__row">
          <div class="details__cell-title">ОКПО</div>
          <div class="details__cell-content">17170203</div>
        </div>
        <div class="details__row">
          <div class="details__cell-title">ОКАТО</div>
          <div class="details__cell-content">45286596000</div>
        </div>
        <div class="details__row">
          <div class="details__cell-title">Генеральный директор</div>
          <div class="details__cell-content">Мягков Михаил</div>
        </div>
        <div class="details__row">
          <div class="details__cell-title">Телефон</div>
          <div class="details__cell-content">+7 (495) 777-10-23</div>
        </div>
        <div class="details__row">
          <div class="details__cell-title">Расчетный счет</div>
          <div class="details__cell-content">АО Банк "НАЦИОНАЛЬНЫЙ СТАНДАРТ"</div>
        </div>
        <div class="details__row">
          <div class="details__cell-title">БИК</div>
          <div class="details__cell-content">044525498</div>
        </div>
        <div class="details__row">
          <div class="details__cell-title">К/С</div>
          <div class="details__cell-content">30101810045250000498</div>
        </div>
        <div class="details__row">
          <div class="details__cell-title">Р/С</div>
          <div class="details__cell-content">40702810900000002875</div>
        </div>
        <div class="details__row">
          <div class="details__cell-title">Почтовый адрес</div>
          <div class="details__cell-content">121205, г. Москва, территория СКОЛКОВО инновационного центра, Бульвар Большой, дом 42, строение 1, этаж 4, пом. 1541.</div>
        </div>
        <div class="details__row">
          <div class="details__cell-title">Электронный адрес</div>
          <div class="details__cell-content">info@maximumtest.ru</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Details'
}
</script>
