<template>
  <section class="directions">
    <div class="directions__container">
      <div class="directions__title">ЕГЭ и ОГЭ<br> на MAXIMUM</div>
      <div class="directions__description">
        Путь к максимальным баллам на экзаменах станет<br>
        легче с образовательным центром MAXIMUM!
      </div>
      <div class="directions__list-container">
        <div class="directions__list-title">Выберите направление:</div>
        <div class="directions__list">
          <div class="directions__item active">ЕГЭ</div>
          <div class="directions__item">ОГЭ</div>
        </div>
      </div>
    </div>
    <a class="scroll" href="#WhatIsMaximum" @click.prevent="anchorNavigation">Подробнее</a>
  </section>
</template>

<script>
export default {
  name: 'Directions',
  methods: {
    anchorNavigation (event) {
      const html = document.getElementsByTagName('html')
      html[0].style.scrollBehavior = 'smooth'
      if (event.target.href.length !== 0) {
        window.scrollTo(0, event.target.offsetTop * 1.3)
      }
      html[0].style.scrollBehavior = ''
    }
  }
}
</script>
