<template>
  <section class="directions directions--alternative">
    <div class="directions__container">
      <div class="directions__title">ЕГЭ и ОГЭ<br> на MAXIMUM</div>
      <div class="directions__description directions__description--alternative">
        Путь к максимальным баллам на экзаменах станет<br>
        легче с образовательным центром MAXIMUM!
      </div>
      <div class="directions__list-container">
        <div class="directions__list-title directions__list-title--alternative">Выберите направление:</div>
        <div class="directions__list">
          <div class="directions__item directions__item--alternative active">ЕГЭ</div>
          <div class="directions__item directions__item--alternative">ОГЭ</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'DirectionsAlternative'
}
</script>
