<template>
  <section class="education-system">
    <div class="education-system__container">
      <div class="education-system__title">Система обучения</div>
      <div class="education-system__content">
        <div class="education-system__text">
          <div class="education-system__subtitle"><span class="education-system__flamingo">Несистемная</span> подготовка – это <br><span class="education-system__flamingo">неэффективная</span> подготовка.</div>
          <div class="education-system__description">
            Научно доказано, что память человека избавляется от информации, которая не повторяется:  уже на следующий день забывается до 50% полученных знаний!
            Методисты MAXIMUM учитывают особенности памяти, встраивая в учебный курс блоки с повторением пройденной информации. Это работает блестяще.
          </div>
        </div>
        <div class="education-system__image">
          <img src="../assets/methods/jpg/education-system.jpg" alt="" class="education-system__img">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'EducationSystem'
}
</script>
