<template>
  <section class="events">
    <div class="events__container">
      <div class="events__title">Наши бесплатные мероприятия</div>
      <div class="events__slider">
        <swiper :options="swiperOption" ref="mySwiper" @resize="callback" @transitionStart="callback">
          <swiper-slide v-for="slide in slides" :key="slide.id" class="events__slide">
            <!--:active="currentSlide"-->
            <div class="events-slide__image">
              <!--поменять url на путь от сервера и значение из props slide.image-->
              <img src="../assets/main/png/rectangle-24-copy-3.png" :alt="slide.title" class="events-slide__img">
              <span class="events-slide__type">{{slide.type}}</span>
            </div>
            <div class="events-slide__body">
              <div class="events-slide__title">{{slide.title}}</div>
              <div class="events-slide__when">
                <div class="events-slide__date">{{slide.date}}</div>
                <div class="events-slide__time">{{slide.time}}</div>
              </div>
              <a :href="slide.link" class="events-slide__link">Записаться бесплатно</a>
            </div>
          </swiper-slide>
        </swiper>
        <!-- Optional controls -->
        <div class="events__button events__button--prev" slot="button-prev"></div>
        <div class="events__button events__button--next" slot="button-next"></div>
        <div class="swiper-pagination" slot="pagination"></div>
        <div class="events__footer">
          <div class="events-footer__text">Мы проводит регулярные  бесплатные темы на <br>волнующие вас темы, делаем анонсы курсов, <br>разбираем  самые наболевшие темы</div>
          <a href="#" @click.prevent class="events-footer__link">Другие мероприятия</a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Events',
  data () {
    return {
      swiperOption: {
        slidesPerView: 3,
        loop: true,
        speed: 400,
        simulateTouch: false,
        spaceBetween: 44,
        freeMode: true,
        slideActiveClass: 'active',
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        breakpoints: {
          960: {
            slidesPerView: 2
          },
          600: {
            slidesPerView: 1
          }
        },
        navigation: {
          nextEl: '.events__button--next',
          prevEl: '.events__button--prev'
        }
      },
      // Пример. Перенести в props и получать по API
      slides: [
        {
          id: 1,
          title: 'Как помочь ребенку справиться со стрессом и подготовиться к ЕГЭ?',
          image: 'image.png',
          link: 'https://vk.com/feed',
          type: 'online',
          date: '10 мая',
          time: '11:00-11:30'
        },
        {
          id: 2,
          title: 'Как помочь ребенку справиться со стрессом и подготовиться к ЕГЭ?',
          image: 'image.png',
          link: 'https://vk.com/feed',
          type: 'online',
          date: '10 мая',
          time: '11:00-11:30'
        },
        {
          id: 3,
          title: 'Как помочь ребенку справиться со стрессом и подготовиться к ЕГЭ?',
          image: 'image.png',
          link: 'https://vk.com/feed',
          type: 'online',
          date: '10 мая',
          time: '11:00-11:30'
        },
        {
          id: 4,
          title: 'Как помочь ребенку справиться со стрессом и подготовиться к ЕГЭ?',
          image: 'image.png',
          link: 'https://vk.com/feed',
          type: 'online',
          date: '10 мая',
          time: '11:00-11:30'
        },
        {
          id: 5,
          title: 'Как помочь ребенку справиться со стрессом и подготовиться к ЕГЭ?',
          image: 'image.png',
          link: 'https://vk.com/feed',
          type: 'online',
          date: '10 мая',
          time: '11:00-11:30'
        },
        {
          id: 6,
          title: 'Как помочь ребенку справиться со стрессом и подготовиться к ЕГЭ?',
          image: 'image.png',
          link: 'https://vk.com/feed',
          type: 'offline',
          date: '10 мая',
          time: '11:00-11:30'
        }
      ]
    }
  },
  computed: {
    swiper () {
      return this.$refs.mySwiper.swiper
    }
  },
  methods: {
    callback () {
      this.swiper.update()
    }
  }
}
</script>
