<template>
  <section class="event-hello" :class="[classes]">
    <div class="event-hello__container">
      <div class="event-hello__content">
        <div class="event-hello__text">
          <div class="event-hello__label">{{label}}</div>
          <div class="event-hello__title">{{title}}</div>
          <div class="event-hello__subtitle">{{subtitle}}</div>
          <div class="event-hello__info">
            <div class="event-hello__date">{{date | date}}</div>
            <div class="event-hello__day-of-week">({{date | week-day}})</div>
            <div class="event-hello__time">{{timeStart}} - {{timeEnd}} по МСК</div>
          </div>
          <div class="event-hello__descriptions">
            <div class="event-hello__description" :key="index" v-for="(description, index) in descriptions" v-html="description"></div>
          </div>
          <div class="event-hello__place">{{place}}</div>
          <div class="event-hello__price">{{price}}</div>
        </div>
        <div class="event-hello__button">
          <button class="event-hello__modal" @click.prevent="showEventPopup">регистрация</button>
        </div>
        <div class="event-hello__form">
          <event-form
            :title="`Скорее запишись!`"
            :description="`Оставь заявку для приглашения`"
            :submitText="`регистрация`"
            :classes="classes"
          ></event-form>
        </div>
      </div>
    </div>
    <event-popup :value="eventPopup" @input="hideEventPopup"></event-popup>
  </section>
</template>

<script>
import EventForm from '@/components/EventForm'
import EventPopup from '@/components/EventPopup'
import RightPreparation from '@/components/RightPreparation'
export default {
  name: 'EventHello',
  components: {
    EventForm,
    EventPopup,
    RightPreparation
  },
  props: {
    title: {
      type: String
    },
    descriptions: {
      type: Array
    },
    date: {
      type: Date
    },
    timeStart: {
      type: String
    },
    timeEnd: {
      type: String
    },
    label: {
      type: String
    },
    price: {
      type: String
    },
    subtitle: {
      type: String
    },
    place: {
      type: String
    },
    classes: {
      type: Array
    }
  },
  data () {
    return {
      eventPopup: false
    }
  },
  methods: {
    showEventPopup () {
      this.eventPopup = true
    },
    hideEventPopup (event) {
      this.eventPopup = event
    }
  }
}
</script>
