<template>
  <form action="" class="event-form" :class="[classes]">
    <div class="event-form__title">{{title}}</div>
    <div class="event-form__description">{{description}}</div>
    <div class="event-form__group form__group">
      <div class="event-form__input-wrapper form__input-wrapper">
        <input type="text" class="form__input" :class="{'form__input--error' : form.firstName.$valid === false}" title="Имя" placeholder="Имя" required v-model="form.firstName.value">
        <span class="form__valid-icon required" v-if="!form.firstName.value > 0 && form.firstName.required">*</span>
        <span class="form__valid-icon valid" v-if="form.firstName.$valid"></span>
      </div>
      <div class="form__error" v-if="form.firstName.$error">{{getErrors(form.firstName.$error)}}</div>
    </div>
    <div class="event-form__group form__group">
      <div class="event-form__input-wrapper form__input-wrapper">
        <input type="tel" class="form__input" :class="{'form__input--error' : form.phone.$valid === false}" title="Телефон" placeholder="Телефон" required v-model="form.phone.value" v-mask="'+7 (###) ### ## ##'">
        <span class="form__valid-icon required" v-if="!form.phone.value > 0 && form.phone.required">*</span>
        <span class="form__valid-icon valid" v-if="form.phone.$valid"></span>
      </div>
      <div class="form__error" v-if="form.phone.$error">{{getErrors(form.phone.$error)}}</div>
    </div>
    <div class="event-form__group form__group">
      <div class="event-form__input-wrapper form__input-wrapper">
        <input type="email" class="form__input" :class="{'form__input--error' : form.email.$valid === false}" title="Email" placeholder="Email" required v-model="form.email.value">
        <span class="form__valid-icon required" v-if="!form.email.value > 0 && form.email.required">*</span>
        <span class="form__valid-icon valid" v-if="form.email.$valid"></span>
      </div>
      <div class="form__error" v-if="form.email.$error">{{getErrors(form.email.$error)}}</div>
    </div>
    <div class="form__group event-form__group">
      <div class="form__radio-buttons event-form__radio-buttons">
        <div class="form__radio-item">
          <label class="form__radio-label--person">
            <input type="radio" value="Родитель" name="person" class="form__radio" v-model="form.person.value">
            <span class="form__radio-button">Родитель</span>
          </label>
        </div>
        <div class="form__radio-item">
          <label class="form__radio-label--person">
            <input type="radio" value="Ученик" name="person" class="form__radio" v-model="form.person.value">
            <span class="form__radio-button">Ученик</span>
          </label>
        </div>
      </div>
    </div>
    <div class="form__group event-form__group">
      <div class="form__radio-buttons event-form__radio-buttons">
        <div class="form__radio-item">
          <label class="form__radio-label--person">
            <input type="radio" value="7" name="schoolStep" class="form__radio" v-model="form.schoolStep.value">
            <span class="form__radio-button">7</span>
          </label>
        </div>
        <div class="form__radio-item">
          <label class="form__radio-label--person">
            <input type="radio" value="8" name="schoolStep" class="form__radio" v-model="form.schoolStep.value">
            <span class="form__radio-button">8</span>
          </label>
        </div>
        <div class="form__radio-item">
          <label class="form__radio-label--person">
            <input type="radio" value="9" name="schoolStep" class="form__radio" v-model="form.schoolStep.value">
            <span class="form__radio-button">9</span>
          </label>
        </div>
        <div class="form__radio-item">
          <label class="form__radio-label--person">
            <input type="radio" value="10" name="schoolStep" class="form__radio" v-model="form.schoolStep.value">
            <span class="form__radio-button">10</span>
          </label>
        </div>
        <div class="form__radio-item">
          <label class="form__radio-label--person">
            <input type="radio" value="11" name="schoolStep" class="form__radio" v-model="form.schoolStep.value">
            <span class="form__radio-button">11</span>
          </label>
        </div>
      </div>
    </div>
    <!--<div class="event-form__share"></div>-->
    <button class="event-form__submit form__submit" @click.prevent="submit(form)">{{submitText}}</button>
    <div class="event-form__privacy-policy">Отправляя заявку, Вы даёте согласие <br>на обработку персональных данныхq</div>
  </form>
</template>

<script>
import {mask} from 'vue-the-mask'
export default {
  directives: {
    mask
  },
  name: 'EventForm',
  props: {
    title: {
      type: String
    },
    description: {
      type: String
    },
    submitText: {
      type: String
    },
    classes: {
      type: Array
    }
  },
  data () {
    return {
      form: {
        firstName: {value: '', type: 'text', required: true, $error: [], $valid: undefined},
        lastName: {value: '', type: 'text', required: false, $error: [], $valid: undefined},
        phone: {value: '', type: 'tel', required: false, $error: [], $valid: undefined},
        email: {value: '', type: 'email', required: true, $error: [], $valid: undefined},
        person: {value: '', type: 'radio', required: false, $error: [], $valid: undefined},
        schoolStep: {value: '', type: 'radio', required: false, $error: [], $valid: undefined}
      }
    }
  },
  computed: {
    formSubmit () {
      let object = {}
      for (let i in this.form) {
        if (this.form.hasOwnProperty(i)) {
          object[i] = this.form[i].value
        }
      }
      return object
    }
  },
  methods: {
    submit (object) {
      if (this.validation(object)) {
        console.log(this.formSubmit)
      }
    },
    validation (object) {
      let valid = true
      const regExpText = /^[a-zA-Zа-яА-ЯёЁ'][a-zA-Z-а-яА-ЯёЁ' ]+[a-zA-Zа-яА-ЯёЁ']?$/
      const regExpPhone = /^(\+7)([ ])(\(?\d{3}\))([ ])[\d\- ]{3}([ ])[\d\- ]{2}([ ])[\d\- ]{2}$/
      const regExpEmail = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
      for (let i in object) {
        if (object.hasOwnProperty(i)) {
          console.log(object)
          object[i].$error = []
          if (object[i].value.length > 0) {
            if (object[i].type === 'text') {
              if (!regExpText.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            } else if (object[i].type === 'tel') {
              if (!regExpPhone.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            } else if (object[i].type === 'email') {
              if (!regExpEmail.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            }
          } else if (object[i].required === true) {
            object[i].$error.push('Обязательное поле')
            object[i].$valid = false
            valid = false
            continue
          }
        }
      }
      return valid
    },
    getErrors (arr) {
      return arr.join(`\n`)
    }
  }
}
</script>
