<template>
  <section class="examination">
    <div class="examination__container">
      <div class="examination__title">Экспертиза в стандартизированных экзаменах</div>
      <div class="examination__subtitle">Наши преподаватели сами успешно сдали ЕГЭ на 85-100 баллов, знают о подводных камнях экзамена, регулярно повышают профессиональную квалификацию и следят за изменениями в экзаменах текущего года с помощью методического отдела.</div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Examination'
}
</script>
