<template>
  <section class="exam-prepare">
    <div class="exam-prepare__container">
      <div class="exam-prepare__inner">
        <div class="exam-prepare__text">
          <div class="exam-prepare__title">Подготовка к ЕГЭ-2019</div>
          <div class="exam-prepare__description">Подберите курс, который подходит именно вам!</div>
        </div>
        <div class="exam-prepare__cards">
          <div class="exam-prepare__card active">
            <div class="exam-prepare__head">
              <div class="exam-prepare__start-title">для 11 класса</div>
            </div>
            <div class="exam-prepare__body">
              <div class="exam-prepare__start">
                <div class="exam-prepare__start-text">Стартует:</div>
                <div class="exam-prepare__date">7 сентября</div>
              </div>
              <div class="exam-prepare__card-description">Курс включает всю теорию для экзамена и практическую проработку заданий в формате ЕГЭ </div>
              <div class="exam-prepare__cost">3900 Р/ месяц</div>
              <div class="exam-prepare__select-wrapper">
                <select name="subject11" class="exam-prepare__subject" title="Предметы за 11 класс" v-model="subject11">
                  <option value="" disabled hidden>Выберете:</option>
                  <option :value="subject" v-for="subject in subjects" :key="subject">{{subject}}</option>
                </select>
              </div>
              <a href="#" class="exam-prepare__link" @click.prevent="openLearnMore">Выбрать предмет</a>
              <div class="exam-prepare__promo">Скидка 20% по помокоду:  JULY20</div>
            </div>
          </div>
          <div class="exam-prepare__card">
            <div class="exam-prepare__head">
              <div class="exam-prepare__start-title">для 10 класса</div>
            </div>
            <div class="exam-prepare__body">
              <div class="exam-prepare__start">
                <div class="exam-prepare__start-text">Стартует:</div>
                <div class="exam-prepare__date">7 сентября</div>
              </div>
              <div class="exam-prepare__card-description">Курс поможет закрыть все пробелы 6-10 класса и выучить теорию, необходимую для сдачи ЕГЭ на максимальный бал</div>
              <div class="exam-prepare__cost">3900 Р/ месяц</div>
              <div class="exam-prepare__select-wrapper">
                <select name="subject10" class="exam-prepare__subject" title="Предметы за 10 класс" v-model="subject10">
                  <option value="" disabled hidden>Выберете:</option>
                  <option :value="subject" v-for="subject in subjects" :key="subject">{{subject}}</option>
                </select>
              </div>
              <a href="#" class="exam-prepare__link" @click.prevent="openLearnMore">Выбрать предмет</a>
              <div class="exam-prepare__promo">Скидка 20% по помокоду:  JULY20</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="scroll" href="#maximum-parts" @click.prevent="anchorNavigation">Подробнее</a>
    <learn-more :value="activeModal" @input="closeLearnMore"></learn-more>
  </section>
</template>

<script>
import LearnMore from '@/components/LearnMore'
export default {
  name: 'ExamPrepare',
  components: {
    LearnMore
  },
  data () {
    return {
      subjects: ['Математика', 'Физика', 'Русский язык', 'Английский язык', 'Химия', 'Биология', 'История'],
      subject11: '',
      subject10: '',
      activeModal: false
    }
  },
  methods: {
    anchorNavigation (event) {
      const html = document.getElementsByTagName('html')
      html[0].style.scrollBehavior = 'smooth'
      if (event.target.href.length !== 0) {
        window.scrollTo(0, event.target.offsetTop * 1.3)
      }
      html[0].style.scrollBehavior = ''
    },
    openLearnMore () {
      this.activeModal = true
    },
    closeLearnMore () {
      this.activeModal = false
    }
  }
}
</script>
