<template>
  <section class="faq">
    <div class="faq__container">
      <div class="faq__title">Часто задаваемые вопросы</div>
      <div class="faq__tabs">
        <div class="faq__tab-header">
          <div class="faq__tab" v-for="(item, index) in faq" :key="index">
            <div class="faq__tab-head" :class="{'active' : selectedTab === index}" @click.prevent="selectTab(index)">{{item.question}}</div>
            <div class="faq__tab-body" v-show="selectedTab === index">{{item.answer}}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'FAQ',
  data () {
    return {
      selectedTab: 0,
      faq: [
        {
          question: 'Как часто проводятся занятия? ',
          answer: 'Для офлайна: Занятия проходят каждую неделю: одно занятие в классе (2ч 15 мин) и одно занятий в онлайн-формате (1ч 15 мин). В рамках курса предусмотрены недельные каникулы. Для онлайна: Занятия проходят два раза в неделю - по 1 ч 15 мин каждое. В рамках курса предусмотрены недельные каникулы.'
        },
        {
          question: 'Какова продолжительность курсов?',
          answer: 'Для офлайна: Курс включает 59 обязательных занятий (147 академических часов), а также 167 академических часов учебных видео, которые доступны к просмотру в любое время! Для онлайна: Курс включает 59 обязательных занятий (147 академических часов), а также 167 академических часов учебных видео, которые доступны к просмотру в любое время!'
        },
        {
          question: 'Есть ли диагностическое тестирование?',
          answer: 'Конечно! На первом занятии каждый ученик пишет диагностическое тестирование, чтобы определить уровень знаний на старте подготовки – это необходимо, чтобы отслеживать прогресс ученика в течение года. Также диагностика позволяет выявить темы, в которых ученик разбирается плохо – это поможет выстроить индивидуальную стратегию подготовки к экзамену.'
        },
        {
          question: 'Сколько человек в группе?',
          answer: 'В группе от 10 до 25 человек в зависимости от предмета и выбранного расписания. Преподаватель уделяет внимание каждому ученику на уроке, а также обсуждает прогресс ученика на обязательных индивидуальных беседах. Задать вопрос преподавателю можно в любое время в любом удобном канале связи: по телефону, в онлайн-модуле, в мессенджере или социальных сетях.'
        },
        {
          question: 'Что делать, если я пропустил занятие?',
          answer: 'Пропускать занятия категорически нежелательно, но случиться может всякое. Если у ученика есть объективная причина, по которой он не может посетить занятие, преподаватель помогает ученику усвоить материал, объясняя тему в свободное от уроков время в удобном ученику формате. Однако инициатива восполнить занятие должна исходить от ученика!'
        },
        {
          question: 'Если я запишусь на курс, я точно поступлю на бюджет?',
          answer: 'Мы уверены, что успех зависит не только от преподавателя, но и от ученика. Мы со своей стороны гарантируем объяснить весь материал к ЕГЭ, обучить решению всех без исключений задач, научить справляться со стрессом на экзамене и обеспечить Вас только актуальными материалами. Но результат зависит и от самого ученика – нужно усердно заниматься, посещать занятия, выполнять задания и не лениться!'
        },
        {
          question: 'Если я пройду всю программу, вы гарантируете поступление на бюджет?',
          answer: 'Да. Если ученик пройдет подготовку по всем предметам, необходимым для поступления, посетит все занятия и выполнит все задания, мы предоставляем финансовую гарантию поступления на бюджет в вуз. Возврат 100% стоимости обучения в случае непоступления зафиксирован в договоре. Х процентов учеников, выполнивших эти условия, поступили на бюджет. Поступите и вы! Узнать подробнее о гарантии поступления. '
        },
        {
          question: 'Можно ли заниматься самостоятельно?',
          answer: 'Да, заниматься самостоятельно можно. Но результат самостоятельной подготовки непредсказуем. Курсы MAXIMUM сделали всю работу за ученика: индивидуальных план подготовки, только актуальные материалы, понятное объяснение теории и заданий, упрощающие методы и лайфхаки ЕГЭ, а также работа с мотивацией и стрессом ученика! '
        },
        {
          question: 'Какие есть методы оплаты?',
          answer: 'Оплатить курс можно в учебном центре (оставить заявку на консультацию можно здесь), а также онлайн любым удобным способом: картой онлайн, … (уточняется). Если вы хотите прямо сейчас задать вопрос о курсе, выбрать расписание и подобрать учебный центр – позвоните по телефону (уточняется) или оставьте заявку, и мы ответим на любой ваш вопрос!'
        },
        {
          question: 'Есть ли у вас образовательная лицензия?',
          answer: 'Конечно! MAXIMUM готовит учеников к ЕГЭ и ОГЭ более 5 лет – ознакомиться с лицензией можно здесь. Поскольку мы образовательная компания, Вы сможете получить налоговый вычет.'
        }
      ]
    }
  },
  methods: {
    selectTab (num) {
      this.selectedTab = num
    }
  }
}
</script>
