<template>
  <section class="form">
    <div class="form__container">
      <div class="form__title">Остались вопросы?</div>
      <div class="form__description">
        Если вы хотите узнать о курсах подготовки к ОГЭ и ЕГЭ в MAXIMUM, <br>оставьте свои контакты. Наш специалист свяжется с Вами в ближайшее время, <br>чтобы ответить на Ваши вопросы!
      </div>
      <form action="" class="form__form">
        <div class="form__group form__group--2-col">
          <div class="form__input-wrapper">
            <input type="text" class="form__input" :class="{'form__input--error' : form.firstName.$valid === false}" title="Имя" placeholder="Имя" required v-model="form.firstName.value">
            <span class="form__valid-icon required" v-if="!form.firstName.value > 0 && form.firstName.required">*</span>
            <span class="form__valid-icon valid" v-if="form.firstName.$valid"></span>
          </div>
          <div class="form__error" v-if="form.firstName.$error">{{getErrors(form.firstName.$error)}}</div>
        </div>
        <div class="form__group form__group--2-col">
          <div class="form__input-wrapper">
            <input type="tel" class="form__input" :class="{'form__input--error' : form.phone.$valid === false}" title="Телефон" placeholder="Телефон" required v-model="form.phone.value" v-mask="'+7 (###) ### ## ##'">
            <span class="form__valid-icon required" v-if="!form.phone.value > 0 && form.phone.required">*</span>
            <span class="form__valid-icon valid" v-if="form.phone.$valid"></span>
          </div>
          <div class="form__error" v-if="form.phone.$error">{{getErrors(form.phone.$error)}}</div>
        </div>
        <div class="form__group form__group--2-col">
          <div class="form__input-wrapper">
            <input type="text" class="form__input" :class="{'form__input--error' : form.lastName.$valid === false}" title="Фамилия" placeholder="Фамилия" required v-model="form.lastName.value">
            <span class="form__valid-icon required" v-if="!form.lastName.value > 0 && form.lastName.required">*</span>
            <span class="form__valid-icon valid" v-if="form.lastName.$valid"></span>
          </div>
          <div class="form__error" v-if="form.lastName.$error">{{getErrors(form.lastName.$error)}}</div>
        </div>
        <div class="form__group form__group--2-col">
          <div class="form__input-wrapper">
            <input type="email" class="form__input" :class="{'form__input--error' : form.email.$valid === false}" title="Email" placeholder="Email" required v-model="form.email.value">
            <span class="form__valid-icon required" v-if="!form.email.value > 0 && form.email.required">*</span>
            <span class="form__valid-icon valid" v-if="form.email.$valid"></span>
          </div>
          <div class="form__error" v-if="form.email.$error">{{getErrors(form.email.$error)}}</div>
        </div>
        <div class="form__group form__group--2-col">
          <div class="form__radio-buttons">
            <div class="form__radio-item">
              <label class="form__radio-label--person">
                <input type="radio" value="Родитель" name="person" class="form__radio" v-model="form.person.value">
                <span class="form__radio-button">Родитель</span>
              </label>
            </div>
            <div class="form__radio-item">
              <label class="form__radio-label--person">
                <input type="radio" value="Ученик" name="person" class="form__radio" v-model="form.person.value">
                <span class="form__radio-button">Ученик</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form__group form__group--2-col">
          <div class="form__select-wrapper">
            <select name="city" class="form__select" title="Город" v-model="form.city.value">
              <option v-for="(city, index) in cities" :value="city" :key="index">{{city}}</option>
            </select>
          </div>
        </div>
        <div class="form__group form__group--2-col">
          <div class="form__offer">Отправляя заявку, Вы даёте согласие на обработку персональных данных</div>
        </div>
        <div class="form__group form__group--2-col">
          <button class="form__submit" type="submit" @click.prevent="submit(form)">регистрация</button>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
import {mask} from 'vue-the-mask'
export default {
  directives: {
    mask
  },
  name: 'Form',
  props: {
    selectedCity: {
      type: String,
      default: 'Выберете город'
    }
  },
  data () {
    return {
      // Города получаем в компонент или через API
      cities: ['Москва', 'Ростов-на-Дону', 'Санкт-Петерсбург', 'Владимир', 'Грозный', 'Екатеринбург'],
      form: {
        firstName: {value: '', type: 'text', required: true, $error: [], $valid: undefined},
        lastName: {value: '', type: 'text', required: true, $error: [], $valid: undefined},
        phone: {value: '', type: 'tel', required: true, $error: [], $valid: undefined},
        email: {value: '', type: 'email', required: true, $error: [], $valid: undefined},
        person: {value: '', type: 'radio', required: true, $error: [], $valid: undefined},
        city: {value: '', type: 'select', required: true, $error: [], $valid: undefined}
      }
    }
  },
  computed: {
    formSubmit () {
      let object = {}
      for (let i in this.form) {
        if (this.form.hasOwnProperty(i)) {
          object[i] = this.form[i].value
        }
      }
      return object
    }
  },
  methods: {
    submit (object) {
      if (this.validation(object)) {
        console.log(this.formSubmit)
      }
    },
    validation (object) {
      let valid = true
      const regExpText = /^[a-zA-Zа-яА-ЯёЁ'][a-zA-Z-а-яА-ЯёЁ' ]+[a-zA-Zа-яА-ЯёЁ']?$/
      const regExpPhone = /^(\+7)([ ])(\(?\d{3}\))([ ])[\d\- ]{3}([ ])[\d\- ]{2}([ ])[\d\- ]{2}$/
      const regExpEmail = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
      for (let i in object) {
        if (object.hasOwnProperty(i)) {
          object[i].$error = []
          if (object[i].value.length > 0) {
            if (object[i].type === 'text') {
              if (!regExpText.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            } else if (object[i].type === 'tel') {
              if (!regExpPhone.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            } else if (object[i].type === 'email') {
              if (!regExpEmail.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            }
          } else if (object[i].required === true) {
            object[i].$error.push('Обязательное поле')
            object[i].$valid = false
            valid = false
            continue
          }
        }
      }
      return valid
    },
    getErrors (arr) {
      return arr.join(`\n`)
    }
  },
  beforeMount () {
    this.form.person.value = 'Родитель'
    this.form.city.value = this.cities[0]
  }
}
</script>
