<template>
  <header class="header">
    <div class="header__container">
      <div class="header__logo">
        <div class="header__logo-image">
          <img src="../assets/main/svg/logo-exams.svg" alt="Logo" class="header__logo-img" width="114">
        </div>
      </div>
      <div class="header__right-block">
        <div class="header__city-and-phone">
          <city-select :cities="cities" :selectedCity="{link: '#', title: 'Москва', type: 'offline'}"></city-select>
          <div class="header__phone">8 (800) 775-53-81</div>
        </div>
        <div class="header__menu">
          <div class="header__menu-text" @click.prevent="clickMenu">Меню</div>
          <div class="header__burger" :class="{'open': openMenu}" @click.prevent="clickMenu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <Menu :open="openMenu"></Menu>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import CitySelect from '@/components/CitySelect'
import Menu from '@/components/Menu'

export default {
  name: 'Header',
  components: {
    CitySelect,
    Menu
  },
  data () {
    return {
      cities: {
        cities: [
          {link: '#', title: 'Подольск', type: 'offline'},
          {link: '#', title: 'Ростов-на-Дону', type: 'offline'},
          {link: '#', title: 'Красноярск', type: 'offline'},
          {link: '#', title: 'Ярославль', type: 'offline'}
        ],
        cities2: [
          {link: '#', title: 'Сургут', type: 'offline'},
          {link: '#', title: 'Одинцово', type: 'offline'},
          {link: '#', title: 'Волгоград', type: 'offline'},
          {link: '#', title: 'Владимир', type: 'offline'},
          {link: '#', title: 'Грозный', type: 'offline'},
          {link: '#', title: 'Иркутск', type: 'offline'},
          {link: '#', title: 'Красноярск', type: 'offline'},
          {link: '#', title: 'Тольятти', type: 'offline'},
          {link: '#', title: 'Тула', type: 'offline'},
          {link: '#', title: 'Тюмень', type: 'offline'}
        ],
        mainCitys: [
          {link: '#', title: 'Москва', type: 'offline'},
          {link: '#', title: 'Санкт-Петербург', type: 'offline'},
          {link: '#', title: 'Нижний Новгород', type: 'offline'},
          {link: '#', title: 'Екатеринбург', type: 'offline'},
          {link: '#', title: 'Новосибирск', type: 'offline'}
        ],
        otherCity: [
          {link: '#', title: 'Онлайн (другие города)', type: 'online'},
          {link: '#', title: 'Минск (Республика Беларусь)', type: 'offline'}
        ]
      },
      openMenu: false
    }
  },
  computed: {
    toggleMenu () {
      return !this.openMenu
    }
  },
  methods: {
    clickMenu () {
      this.openMenu = this.toggleMenu
    }
  }
}
</script>
