<template>
  <section class="include">
    <div class="include__container">
      <div class="include__title">Что вы получите</div>
      <div class="include__list">
        <div class="include__row">
          <div class="include__head">Безлимитный доступ к онлайн-платформе</div>
          <div class="include__body">
            <div class="include__item">
              <div class="include__value">150 +</div>
              <div class="include__description">Уроков в онлайн-справочнике</div>
            </div>
            <div class="include__item">
              <div class="include__value">1 500 +</div>
              <div class="include__description">Заданий для подготовки</div>
            </div>
            <div class="include__item">
              <div class="include__value">50</div>
              <div class="include__description">Видеоразборов сложных тем</div>
            </div>
          </div>
        </div>
        <div class="include__row">
          <div class="include__head">Контроль за успеваемостью</div>
          <div class="include__body">
            <div class="include__item">
              <div class="include__value"><img src="../assets/exam/png/stats.png" alt="Онлайн-мониторинг прогресса" class="include__img"></div>
              <div class="include__description">Онлайн-мониторинг прогресса</div>
            </div>
            <div class="include__item">
              <div class="include__value"><img src="../assets/exam/png/profile.png" alt="Планы занятий" class="include__img"></div>
              <div class="include__description">Планы занятий</div>
            </div>
            <div class="include__item">
              <div class="include__value"><img src="../assets/exam/png/write-letter.png" alt="Контрольные работы" class="include__img"></div>
              <div class="include__description">Контрольные работы</div>
            </div>
          </div>
        </div>
        <div class="include__row">
          <div class="include__head">Онлайн-работа в группе</div>
          <div class="include__body">
            <div class="include__item">
              <div class="include__value">120</div>
              <div class="include__description">Онлайн-занятий</div>
            </div>
            <div class="include__item">
              <div class="include__value">2</div>
              <div class="include__description">Раза в неделю</div>
            </div>
            <div class="include__item">
              <div class="include__value"><img src="../assets/exam/png/chat.png" alt="Групповой чат" class="include__img"></div>
              <div class="include__description">Групповой чат</div>
            </div>
          </div>
        </div>
        <div class="include__row">
          <div class="include__head">Онлайн-работа с наставником</div>
          <div class="include__body">
            <div class="include__item">
              <div class="include__value"><img src="../assets/exam/png/file.png" alt="Персональный план подготовки" class="include__img"></div>
              <div class="include__description">Персональный план подготовки</div>
            </div>
            <div class="include__item">
              <div class="include__value">4</div>
              <div class="include__description">Личные беседы</div>
            </div>
            <div class="include__item">
              <div class="include__value">24/7</div>
              <div class="include__description">Онлайн-консультации</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Include'
}
</script>
