<template>
  <section class="individual-approach">
    <div class="individual-approach__container">
      <div class="individual-approach__title">Подходим к каждому ученику индивидуально</div>
      <div class="individual-approach__description">Обучение в MAXIMUM начинается с диагностики знаний и планирования индивидуального курса подготовки. Плотная работа с наставниками позволяет оптимизировать процесс обучения, восполнить пробелы в школьных знаниях и психологически подготовиться к процедуре экзамена.</div>
      <div class="individual-approach__image">
        <img src="../assets/methods/svg/mount-mobile.svg" alt="Гора знаний" class="individual-approach__img">
      </div>
      <div class="individual-approach__mount-items">
        <div class="individual-approach__mount-item individual-approach__mount-item-1">Диагностика <br>знаний</div>
        <div class="individual-approach__mount-item individual-approach__mount-item-2">Составление плана <br>подготовки</div>
        <div class="individual-approach__mount-item individual-approach__mount-item-3">Работа с преподавателем, <br>самостоятельная работа, <br>контрольные работы</div>
        <div class="individual-approach__mount-item individual-approach__mount-item-4">Симуляция ЕГЭ, <br>психологическая <br>подготовка</div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'IndividualApproach'
}
</script>
