<template>
  <article class="integrated-approach">
    <div class="integrated-approach__title">
      Курс обучения в MAXIMUM построен на пяти этапах, которые<br> гарантируют повышенный результат на экзамене
    </div>
    <div class="integrated-approach__content">
      <div class="integrated-approach__list">
        <div class="integrated-approach__item">Диагностика знаний и составление плана персональной подготовки</div>
        <div class="integrated-approach__item">Уроки в классе и онлайн</div>
        <div class="integrated-approach__item">Разбор типичных ошибок</div>
        <div class="integrated-approach__item">Психологическая подготовка к экзамену</div>
        <div class="integrated-approach__item">Подготовка к процедуре экзамена</div>
      </div>
      <div class="integrated-approach__image">
        <img src="../assets/main/svg/mount.svg" alt="Комплексный подход" class="integrated-approach__img">
      </div>
    </div>
  </article>
</template>

<script>
export default {
  name: 'IntegratedApproach'
}
</script>
