<template>
  <div class="learn-more">
    <modal :value="value" :title="'Узнайте больше'" :subtitle="`Оставьте нас свои данные и наш \n специалист с Вами свяжется \n в ближайшее время`" @input="$emit('input', false)">
      <form action="" class="learn-more__form">
        <div class="form__input-wrapper learn-more__wrapper">
          <input type="text" class="form__input" title="Имя" placeholder="Имя" v-model="form.name.value" required>
          <span class="form__valid-icon learn-more__icon required" v-if="!form.email.value > 0">*</span>
          <span class="form__valid-icon learn-more__icon valid" v-if="form.email.$valid"></span>
        </div>
        <div class="form__input-wrapper learn-more__wrapper">
          <input type="text" class="form__input" title="Телефон" placeholder="Телефон" v-model="form.email.value" required>
          <span class="form__valid-icon learn-more__icon required" v-if="!form.email.value > 0">*</span>
          <span class="form__valid-icon learn-more__icon valid" v-if="form.email.$valid"></span>
        </div>
        <div class="form__input-wrapper learn-more__wrapper">
          <input type="text" class="form__input" title="E-mail" placeholder="E-mail" v-model="form.phone.value" required>
          <span class="form__valid-icon learn-more__icon required" v-if="!form.email.value > 0">*</span>
          <span class="form__valid-icon learn-more__icon valid" v-if="form.email.$valid"></span>
        </div>
      </form>
      <button class="learn-more__submit form__submit" type="submit" @click.prevent="submit(form)">отправить заявку</button>
      <div class="learn-more__text">Отправляя заявку, вы даёте согласие на <br>обработку персональных данных</div>
    </modal>
  </div>
</template>

<script>
import Modal from '@/components/Modal'
export default {
  name: 'LearnMore',
  components: {
    Modal
  },
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      form: {
        name: {value: '', type: 'text', required: true, $error: [], $valid: undefined},
        email: {value: '', type: 'email', required: true, $error: [], $valid: undefined},
        phone: {value: '', type: 'tel', required: true, $error: [], $valid: undefined}
      }
    }
  },
  computed: {
    formSubmit () {
      let object = {}
      for (let i in this.form) {
        if (this.form.hasOwnProperty(i)) {
          object[i] = this.form[i].value
        }
      }
      return object
    }
  },
  methods: {
    submit (object) {
      if (this.validation(object)) {
        console.log(this.formSubmit)
      }
    },
    validation (object) {
      let valid = true
      const regExpText = /^[a-zA-Zа-яА-ЯёЁ'][a-zA-Z-а-яА-ЯёЁ' ]+[a-zA-Zа-яА-ЯёЁ']?$/
      const regExpPhone = /^(\+7)([ ])(\(?\d{3}\))([ ])[\d\- ]{3}([ ])[\d\- ]{2}([ ])[\d\- ]{2}$/
      const regExpEmail = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
      for (let i in object) {
        if (object.hasOwnProperty(i)) {
          object[i].$error = []
          if (object[i].value.length > 0) {
            if (object[i].type === 'text') {
              if (!regExpText.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            } else if (object[i].type === 'tel') {
              if (!regExpPhone.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            } else if (object[i].type === 'email') {
              if (!regExpEmail.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            }
          } else if (object[i].required === true) {
            object[i].$error.push('Обязательное поле')
            object[i].$valid = false
            valid = false
            continue
          }
        }
      }
      return valid
    },
    getErrors (arr) {
      return arr.join(`\n`)
    }
  }
}
</script>
