<template>
  <div>
    <div id="map" class="map"></div>
  </div>
</template>

<script>
import GoogleMapsLoader from 'google-maps'
export default {
  name: 'MapComponent',
  methods: {
    initMap () {
      GoogleMapsLoader.KEY = 'AIzaSyAF1hwFOO4Z_EonFiJjN-OQqobyOsLBLFY'
      GoogleMapsLoader.load(function (google) {
        const myLatLng = {lat: 55.758312, lng: 37.660734}
        // Для появления маркера, указать местоположение картинки по адресу на сервере
        // const image = '../assets/contacts/png/pencil.png'
        let Map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: myLatLng,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          disableDefaultUI: true,
          scrollwheel: false
        })
        let Marker = new google.maps.Marker({
          position: myLatLng,
          map: Map,
          // icon: image,
          title: 'ул Бульвар Большой, дом 42 стр1, этаж 4, пом. 1541'
        })
        let contentString = '<div id="content">' +
          '<div id="siteNotice">' +
          '</div>' +
          '<h4 style="color: #f25c31; font-weight: 600; font-size: 15px; font-family: Montserrat; margin-bottom: 10px;" id="firstHeading" class="firstHeading">м. Курская</h4>' +
          '<div id="bodyContent">' +
          '<p style="color: #4a4a4a; font-weight: 600; font-size: 15px; font-family: Montserrat;">ул Бульвар Большой, дом 42 стр1, этаж 4, пом. 1541</p>' +
          '</div>'
        const infowindow = new google.maps.InfoWindow({
          content: contentString
        })
        Marker.addListener('click', function () {
          infowindow.open(Map, Marker)
        })
      })
    }
  },
  mounted () {
    this.initMap()
  }
}
</script>
