<template>
  <section class="maximum-parts">
    <div class="maximum-parts__container">
      <div class="maximum-parts__title">Составляющие MAXIMUM</div>
      <div class="maximum-parts__list">
        <div class="maximum-parts__item">
          <img src="../assets/exam/png/laptop.png" class="maximum-parts__image">
          <div class="maximum-parts__item-title">Онлайн-платформа</div>
          <div class="maximum-parts__description">Сервис, выполняющий роль интерактивного учебника, инструмента для связи с преподавателеми дневника. </div>
          <div class="maximum-parts__link-wrapper">
            <a href="#" @click.prevent class="maximum-parts__link">Подробнее</a>
          </div>
        </div>
        <div class="maximum-parts__item">
          <img src="../assets/exam/png/guys.png" class="maximum-parts__image">
          <div class="maximum-parts__item-title">о Преподавателях</div>
          <div class="maximum-parts__description">У нас работают талантливые, профессиональные преподаватели, прошедшие строгий отбор. </div>
          <div class="maximum-parts__link-wrapper">
            <a href="#" @click.prevent class="maximum-parts__link">Подробнее</a>
          </div>
        </div>
        <div class="maximum-parts__item">
          <img class="maximum-parts__image" src="../assets/exam/png/text.png">
          <div class="maximum-parts__item-title">Методика</div>
          <div class="maximum-parts__description">Курс обучения в MAXIMUM построен на пяти этапах, которые гарантируют повышенный результат на экзамене</div>
          <div class="maximum-parts__link-wrapper">
            <a href="#" @click.prevent class="maximum-parts__link">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'MaximumParts2'
}
</script>
