<template>
  <section class="maximum-goal">
    <div class="maximum-goal__container">
      <div class="maximum-goal__content">
        <div class="maximum-goal__image">
          <img src="../assets/events/png/goal.png" alt="Цель" class="maximum-goal__img">
        </div>
        <div class="maximum-goal__text">
          <div class="maximum-goal__logo">
            <img src="../assets/events/svg/logo.svg" alt="Логотип" class="maximum-goal__logo-img">
          </div>
          <div class="maximum-goal__title">Цель MAXIMUM — привести каждого ученика к максимальному результату.</div>
          <div class="maximum-goal__description">Мы верим, что это возможно только при поддержке высокого уровня преподавания и заинтересованности каждого преподавателя в личном успехе ученика.<br> Для этого мы используем лучшие методические практики, интерактивные и вовлекающие подходы к работе с учениками, а также поддерживаем постоянный личный контакт с каждым учеником.</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'MaximumGoal'
}
</script>
