<template>
  <section class="maximum-parts">
    <div class="maximum-parts__container">
      <div class="maximum-parts__title">Составляющие MAXIMUM</div>
      <div class="maximum-parts__list">
        <div class="maximum-parts__item">
          <img src="../assets/exam/png/book.png" class="maximum-parts__image">
          <div class="maximum-parts__item-title">Онлайн-платформа</div>
          <div class="maximum-parts__description">Сервис, совмещающий в себе функции интерактивного учебника, планировщика занятий и инструмента для связи с наставником.</div>
          <div class="maximum-parts__link-wrapper">
            <a href="#" @click.prevent class="maximum-parts__link">Подробнее</a>
          </div>
        </div>
        <div class="maximum-parts__item">
          <img src="../assets/exam/png/graduate.png" class="maximum-parts__image">
          <div class="maximum-parts__item-title">Преподаватели</div>
          <div class="maximum-parts__description">У нас работают талантливые, профессиональные преподаватели, прошедшие строгий отбор. </div>
          <div class="maximum-parts__link-wrapper">
            <a href="#" @click.prevent class="maximum-parts__link">Подробнее</a>
          </div>
        </div>
        <div class="maximum-parts__item">
          <img class="maximum-parts__image" src="../assets/exam/png/online.png">
          <div class="maximum-parts__item-title">Методика</div>
          <div class="maximum-parts__description">Регулярно обновляемые учебные материалы содержат только ту информацию, которая нужна для успешной подготовки к экзамену.</div>
          <div class="maximum-parts__link-wrapper">
            <a href="#" @click.prevent class="maximum-parts__link">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'MaximumParts'
}
</script>
