<template>
  <section class="mentor-education">
    <div class="mentor-education__container">
      <div class="mentor-education__title">Методика обучения наставников</div>
      <div class="mentor-education__subtitle">Каждый наставник MAXIMUM заканчивает курс преподавательской и методической подготовки, который гарантирует использование передовых педагогических технологий и онлайн-технологий обучения, эффективных практик освоения больших массивов информации и работы с аудиторией.</div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'MentorEducation'
}
</script>
