<template>
  <section class="method-maximum">
    <div class="method-maximum__container">
      <div class="method-maximum__title">Методика MAXIMUM</div>
      <div class="method-maximum__description">Методический отдел компании на основе мирового опыта и собственных разработок создает инновационные учебные материалы и современные инструменты мотивации и контроля. Все учебные материалы проходят тестирование и регулярно обновляются.</div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'MethodMaximum'
}
</script>
