<template>
  <div class="modal" :class="{ active: value, 'modal-sm': small, 'modal-lg': large }">
    <div class="modal-overlay" @click="backdrop && $emit('input', false)"></div>
    <div class="modal-container modal-fullheight">
      <div class="modal-header">
        <button v-if="closeButton" class="btn btn-clear float-right" @click="$emit('input', false)"></button>
        <div class="modal-title h5">{{ title }}</div>
        <div class="modal-title h6">{{ subtitle }}</div>
      </div>
      <slot name="body">
        <div class="modal-body">
          <slot></slot>
        </div>
      </slot>
      <div class="modal-footer">
        <slot name="footer"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Modal',
  props: {
    value: Boolean,
    backdrop: {
      type: Boolean,
      default: true
    },
    closeButton: {
      type: Boolean,
      default: true
    },
    small: {
      type: Boolean,
      default: false
    },
    large: {
      type: Boolean,
      default: false
    },
    title: String,
    subtitle: String
  }
}
</script>
