<template>
  <section class="necessary-knowledge">
    <div class="necessary-knowledge__container">
      <div class="necessary-knowledge__title">Даем только необходимые знания</div>
      <div class="necessary-knowledge__text">Методисты MAXIMUM отбирают из школьной программы ту информацию, которая <br>встретится на экзамене и необходима для понимания темы. <br>Это позволяет подготовиться к ЕГЭ в разы быстрее.</div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'NecessaryKnowledge'
}
</script>
