<template>
  <section class="next-step">
    <div class="next-step__container">
      <div class="next-step__title">Сделайте шаг <br>к будущей профессии <br>уже в школе!</div>
      <div class="next-step__description">В программе бесплатного профориентационного <br>форума для старшеклассников и родителей:</div>
      <ul class="next-step__list">
        <li class="next-step__item" :key="index" v-for="(item, index) in list">
          <span class="next-step__item-title">{{item.title}}</span>
          <span class="next-step__item-text">{{item.text}}</span>
        </li>
      </ul>
      <a href="#" class="next-step__button" @click.prevent="showEventPopup">регистрация</a>
    </div>
    <event-popup :value="eventPopup" @input="hideEventPopup"></event-popup>
  </section>
</template>

<script>
import EventPopup from '@/components/EventPopup'
export default {
  name: 'NextStep',
  components: {
    EventPopup
  },
  data () {
    return {
      eventPopup: false,
      list: [
        {
          title: 'мастер-классы',
          text: ' о выборе профессии от экспертов'
        },
        {
          title: 'истории успеха',
          text: ' от ведущих работодателей'
        },
        {
          title: 'лекции',
          text: ' о ловушках и лайфхаках ОГЭ и ЕГЭ'
        },
        {
          title: 'консультации',
          text: ' о выборе вуза и поступлении'
        },
        {
          title: 'профориентация',
          text: ' с рекомендацией специалиста.'
        }
      ]
    }
  },
  methods: {
    showEventPopup () {
      this.eventPopup = true
    },
    hideEventPopup (event) {
      this.eventPopup = event
    }
  }
}
</script>
