<template>
  <article class="online-platform">
    <div class="online-platform__content">
      <div class="online-platform__list">
        <div class="online-platform__item">
          <div class="online-platform__title">Справочник</div>
          <div class="online-platform__description">Освежить знания теории</div>
        </div>
        <div class="online-platform__item">
          <div class="online-platform__title">Расписание</div>
          <div class="online-platform__description">Узнать, когда будет следующее<br> занятие и что задано на дом</div>
        </div>
        <div class="online-platform__item">
          <div class="online-platform__title">Домашняя работа</div>
          <div class="online-platform__description">Попрактиковаться в решении задачи</div>
        </div>
        <div class="online-platform__item">
          <div class="online-platform__title">Прогресс</div>
          <div class="online-platform__description">Узнать текущий статус подготовки</div>
        </div>
        <div class="online-platform__item">
          <div class="online-platform__title">Поддержка 24/7</div>
          <div class="online-platform__description">Задать вопрос наставнику</div>
        </div>
      </div>
      <div class="online-platform__image">
        <img src="../assets/main/png/laptop.png" alt="ноутбук" class="online-platform__img">
      </div>
    </div>
  </article>
</template>

<script>
export default {
  name: 'OnlinePlatform'
}
</script>
