<template>
  <section class="program">
    <div class="program__container">
      <div class="program__title">Программа мероприятия</div>
      <div class="program__steps">
        <div class="program__step" :key="stepIndex" v-for="(step, stepIndex) in program">
          <div class="program__step-title" :class="{'active': openedItem === stepIndex}" @click.prevent="openItem(stepIndex)">{{step.title}}</div>
          <div class="program__step-list" :class="{'active': openedItem === stepIndex}" :key="index" v-for="(event, index) in step.list">
            <div class="program__step-item">
              <div class="program__step-time">{{event.time}}</div>
              <div class="program__step-value">{{event.value}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="program__popup-wrapper">
        <a href="#" class="program__popup" @click.prevent="showEventPopup">регистрация</a>
      </div>
    </div>
    <event-popup :value="eventPopup" @input="hideEventPopup"></event-popup>
  </section>
</template>

<script>
import EventPopup from '@/components/EventPopup'
export default {
  name: 'Program',
  data () {
    return {
      eventPopup: false,
      openedItem: null,
      program: [
        {
          title: '7-9 классов',
          list: [
            {
              time: '10:15',
              value: 'Школа или колледж: как ОГЭ влияет на будущее?'
            },
            {
              time: '10:55',
              value: 'Как помочь ребенку стать успешным в 7-9 классе?'
            },
            {
              time: '11:40',
              value: 'Первый шаг в IT-будущее'
            },
            {
              time: '12:25',
              value: 'Как выбрать востребованную профессию уже в школе?'
            },
            {
              time: '13:10',
              value: 'Как говорить с подростком об учебе и будущем?'
            },
            {
              time: '13:55',
              value: 'Как выучить английский язык в школе?'
            },
            {
              time: '14:40',
              value: 'Зачем учить математику и физику в 7-8 классе?'
            },
            {
              time: '15:25',
              value: 'Образовательные программы MAXIMUM для 7-9 классов'
            }
          ]
        },
        {
          title: '10-11 класс',
          list: [
            {
              time: '10:15',
              value: 'Школа или колледж: как ОГЭ влияет на будущее?'
            },
            {
              time: '10:55',
              value: 'Как помочь ребенку стать успешным в 7-9 классе?'
            },
            {
              time: '11:40',
              value: 'Первый шаг в IT-будущее'
            },
            {
              time: '12:25',
              value: 'Как выбрать востребованную профессию уже в школе?'
            },
            {
              time: '13:10',
              value: 'Как говорить с подростком об учебе и будущем?'
            },
            {
              time: '13:55',
              value: 'Как выучить английский язык в школе?'
            },
            {
              time: '14:40',
              value: 'Зачем учить математику и физику в 7-8 классе?'
            },
            {
              time: '15:25',
              value: 'Образовательные программы MAXIMUM для 7-9 классов'
            }
          ]
        },
        {
          title: 'Родителям',
          list: [
            {
              time: '10:15',
              value: 'Школа или колледж: как ОГЭ влияет на будущее?'
            },
            {
              time: '10:55',
              value: 'Как помочь ребенку стать успешным в 7-9 классе?'
            },
            {
              time: '11:40',
              value: 'Первый шаг в IT-будущее'
            },
            {
              time: '12:25',
              value: 'Как выбрать востребованную профессию уже в школе?'
            },
            {
              time: '13:10',
              value: 'Как говорить с подростком об учебе и будущем?'
            },
            {
              time: '13:55',
              value: 'Как выучить английский язык в школе?'
            },
            {
              time: '14:40',
              value: 'Зачем учить математику и физику в 7-8 классе?'
            },
            {
              time: '15:25',
              value: 'Образовательные программы MAXIMUM для 7-9 классов'
            }
          ]
        },
        {
          title: 'Зал Тестирований',
          list: [
            {
              time: '10:00 - 15:00',
              value: 'Выдача профориентационных тестирований'
            },
            {
              time: '10:00 - 17:00',
              value: 'Консультации по выбору профессии и вуза'
            },
            {
              time: '10:00 - 17:00',
              value: 'Тестирования ЕГЭ/ОГЭ и разборы с преподавателем'
            },
            {
              time: '11:00',
              value: 'Открытый урок "Создание сайта с нуля"'
            },
            {
              time: '13:00',
              value: 'Открытый урок "Создание сайта с нуля"'
            }
          ]
        }
      ]
    }
  },
  components: {
    EventPopup
  },
  methods: {
    showEventPopup () {
      this.eventPopup = true
    },
    hideEventPopup (event) {
      this.eventPopup = event
    },
    openItem (index) {
      if (document.documentElement.clientWidth <= 700) {
        if (this.openedItem !== index) {
          this.openedItem = index
        } else {
          this.openedItem = null
        }
      }
    }
  }
}
</script>
