<template>
  <article class="promo">
    <div class="promo__container">
      <div class="promo__title">Не жди, регистрируйся!</div>
      <div class="promo__description">Это бесплатно и очень интересно :)</div>
      <div class="promo__button-wrapper">
        <a class="promo__button" href="#" @click.prevent="showEventPopup">регистрация</a>
      </div>
    </div>
    <event-popup :value="eventPopup" @input="hideEventPopup"></event-popup>
  </article>
</template>

<script>
import EventPopup from '@/components/EventPopup'
export default {
  name: 'Promo',
  components: {
    EventPopup
  },
  data () {
    return {
      eventPopup: false
    }
  },
  methods: {
    showEventPopup () {
      this.eventPopup = true
    },
    hideEventPopup (event) {
      this.eventPopup = event
    }
  }
}
</script>
