<template>
  <section class="right-preparation">
    <div class="right-preparation__container">
      <div class="right-preparation__title">Ты узнаешь</div>
      <div class="right-preparation__list">
        <div class="right-preparation__item">
          <div class="right-preparation__item-title">Распространенные <br>ошибки в ЕГЭ</div>
          <div class="right-preparation__description">Почему мы совершаем ошибки <br>по невнимательности? Как их <br>избежать? Какие темы самые <br>трудные?</div>
        </div>
        <div class="right-preparation__item">
          <div class="right-preparation__item-title">Лайфхаки ЕГЭ <br>по физике</div>
          <div class="right-preparation__description">Какие существуют обходные пути <br>для получения максимального <br>балла?</div>
        </div>
        <div class="right-preparation__item">
          <div class="right-preparation__item-title">Правильная <br>подготовка</div>
          <div class="right-preparation__description">Как должна быть выстроена <br>подготовка, чтобы результат <br>удовлетворял ожиданиям?</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'RightPreparation'
}
</script>
