<template>
  <section class="schedule">
    <div class="schedule__container">
      <div class="schedule__head">Расписание <span class="schedule__marked schedule__marked--online">вебинаров</span> <br>и <span class="schedule__marked schedule__marked--offline">очных</span> мероприятий</div>
      <div class="schedule__description">Открытые уроки, мастер-классы, консультации, <br>тестирования, образовательные выставки</div>
      <div class="schedule__list">
        <div class="schedule__item" v-for="(item, index) in events" :key="index" :class="isCurrent(index)" @click="setActive(index)">
          <div class="schedule__header">
            <div class="schedule__header-item">
              <span class="schedule__status" :class="`schedule__status--${$options.filters.status(item.status)}`"></span>
              <div class="schedule__title">{{item.title}}</div>
            </div>
            <div class="schedule__header-item">
              <div class="schedule__date">{{item.date | date}}</div>
              <div class="schedule__time">
                <span class="schedule__time-start">{{item.timeStart}}</span>
                -
                <span class="schedule__time-end">{{item.timeEnd}}</span>
              </div>
            </div>
          </div>
          <div class="schedule__body">
            <div class="schedule__info">
              <div class="schedule__level">{{item.level}}</div>
              <div class="schedule__status-body" :class="`schedule__status-body--${$options.filters.status(item.status)}`" v-if="item.status === 'онлайн'">{{item.status | capitalize}}</div>
              <div class="schedule__status-body" :class="`schedule__status-body--${$options.filters.status(item.status)}`" v-else>{{item.where}}</div>
              <ul class="schedule__features">
                <li class="schedule__feature" v-for="(feature, index) in item.features" :key="index">{{feature}}</li>
              </ul>
            </div>
            <div class="schedule-body__image">
              <img src="../assets/events/png/event.png" :alt="item.description" class="schedule-body__img">
            </div>
          </div>
          <div class="schedule__footer" v-if="events[index].status === 'онлайн'">
            <div class="schedule-form__group form__group">
              <div class="schedule-form__input-wrapper form__input-wrapper">
                <input type="email" class="form__input" :class="{'form__input--error' : form.email.$valid === false}" title="Email" placeholder="Email" required v-model="form.email.value">
                <span class="form__valid-icon schedule-form__valid-icon required" v-if="!form.email.value > 0">*</span>
                <span class="form__valid-icon schedule-form__valid-icon valid" v-if="form.email.$valid"></span>
              </div>
              <div class="form__error" v-if="form.email.$error">{{getErrors(form.email.$error)}}</div>
            </div>
            <div class="schedule-form__group form__group">
              <button class="schedule__submit form__submit" type="submit" @click.prevent="submit(form)">зарегистрироваться</button>
            </div>
          </div>
          <div class="schedule__footer" v-else>
            <a :href="item.link" @click.prevent class="schedule__submit">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Schedule',
  data () {
    return {
      events: [
        {
          id: 0,
          status: 'онлайн',
          title: 'Как помочь ребенку справиться со стрессом и подготовиться к ЕГЭ?',
          date: new Date('2018-05-10'),
          timeStart: '11:00',
          timeEnd: '11:30',
          level: '8-9 класс',
          description: 'Событие',
          features: [
            'Хочешь узнать о «ловушках», которые будут ждать тебя на ЕГЭ?',
            'Думаешь о поступлении на бюджет?',
            'Понимаешь, что готовиться к ЕГЭ нужно уже сейчас?'
          ],
          where: 'центр Благосфера, 1-ый Боткинский проезд 7 стр. 1 (м. Динамо)',
          // путь до картинки с сервера
          image: '',
          link: 'vk.com'
        },
        {
          id: 1,
          status: 'оффлайн',
          title: 'Открытый урок "Создание сайта с нуля"',
          date: new Date('2018-05-11'),
          timeStart: '11:00',
          timeEnd: '11:30',
          level: '8-9 класс',
          description: 'Событие',
          features: [
            'Хочешь узнать о «ловушках», которые будут ждать тебя на ЕГЭ?',
            'Думаешь о поступлении на бюджет?',
            'Понимаешь, что готовиться к ЕГЭ нужно уже сейчас?'
          ],
          where: 'центр Благосфера, 1-ый Боткинский проезд 7 стр. 1 (м. Динамо)',
          // путь до картинки с сервера
          image: '',
          link: 'vk.com'
        },
        {
          id: 2,
          status: 'онлайн',
          title: 'Первый шаг в IT-будущее',
          date: new Date('2018-05-12'),
          timeStart: '11:00',
          timeEnd: '11:30',
          level: '8-9 класс',
          description: 'Событие',
          features: [
            'Хочешь узнать о «ловушках», которые будут ждать тебя на ЕГЭ?',
            'Думаешь о поступлении на бюджет?',
            'Понимаешь, что готовиться к ЕГЭ нужно уже сейчас?'
          ],
          where: 'центр Благосфера, 1-ый Боткинский проезд 7 стр. 1 (м. Динамо)',
          // путь до картинки с сервера
          image: '',
          link: 'vk.com'
        },
        {
          id: 3,
          status: 'оффлайн',
          title: 'День 8-классника',
          date: new Date('2018-05-13'),
          timeStart: '11:00',
          timeEnd: '11:30',
          level: '8-9 класс',
          description: 'Событие',
          features: [
            'Хочешь узнать о «ловушках», которые будут ждать тебя на ЕГЭ?',
            'Думаешь о поступлении на бюджет?',
            'Понимаешь, что готовиться к ЕГЭ нужно уже сейчас?'
          ],
          where: 'центр Благосфера, 1-ый Боткинский проезд 7 стр. 1 (м. Динамо)',
          // путь до картинки с сервера
          image: '',
          link: 'vk.com'
        },
        {
          id: 4,
          status: 'онлайн',
          title: 'День 8-классника',
          date: new Date('2018-05-13'),
          timeStart: '11:00',
          timeEnd: '11:30',
          level: '8-9 класс',
          description: 'Событие',
          features: [
            'Хочешь узнать о «ловушках», которые будут ждать тебя на ЕГЭ?',
            'Думаешь о поступлении на бюджет?',
            'Понимаешь, что готовиться к ЕГЭ нужно уже сейчас?'
          ],
          where: 'центр Благосфера, 1-ый Боткинский проезд 7 стр. 1 (м. Динамо)',
          // путь до картинки с сервера
          image: '',
          link: 'vk.com'
        },
        {
          id: 5,
          status: 'онлайн',
          title: 'Первый шаг в IT-будущее',
          date: new Date('2018-05-12'),
          timeStart: '11:00',
          timeEnd: '11:30',
          level: '8-9 класс',
          description: 'Событие',
          features: [
            'Хочешь узнать о «ловушках», которые будут ждать тебя на ЕГЭ?',
            'Думаешь о поступлении на бюджет?',
            'Понимаешь, что готовиться к ЕГЭ нужно уже сейчас?'
          ],
          where: 'центр Благосфера, 1-ый Боткинский проезд 7 стр. 1 (м. Динамо)',
          // путь до картинки с сервера
          image: '',
          link: 'vk.com'
        },
        {
          id: 6,
          status: 'оффлайн',
          title: 'День 8-классника',
          date: new Date('2018-05-13'),
          timeStart: '11:00',
          timeEnd: '11:30',
          level: '8-9 класс',
          description: 'Событие',
          features: [
            'Хочешь узнать о «ловушках», которые будут ждать тебя на ЕГЭ?',
            'Думаешь о поступлении на бюджет?',
            'Понимаешь, что готовиться к ЕГЭ нужно уже сейчас?'
          ],
          where: 'центр Благосфера, 1-ый Боткинский проезд 7 стр. 1 (м. Динамо)',
          // путь до картинки с сервера
          image: '',
          link: 'vk.com'
        },
        {
          id: 7,
          status: 'онлайн',
          title: 'День 8-классника',
          date: new Date('2018-05-13'),
          timeStart: '11:00',
          timeEnd: '11:30',
          level: '8-9 класс',
          description: 'Событие',
          features: [
            'Хочешь узнать о «ловушках», которые будут ждать тебя на ЕГЭ?',
            'Думаешь о поступлении на бюджет?',
            'Понимаешь, что готовиться к ЕГЭ нужно уже сейчас?'
          ],
          where: 'центр Благосфера, 1-ый Боткинский проезд 7 стр. 1 (м. Динамо)',
          // путь до картинки с сервера
          image: '',
          link: 'vk.com'
        }
      ],
      form: {
        email: {value: '', type: 'email', required: true, $error: [], $valid: undefined}
      },
      currentItem: null
    }
  },
  computed: {
    formSubmit () {
      let object = {}
      for (let i in this.form) {
        if (this.form.hasOwnProperty(i)) {
          object[i] = this.form[i].value
        }
      }
      return object
    }
  },
  methods: {
    submit (object) {
      if (this.validation(object)) {
        console.log(this.formSubmit)
      }
    },
    validation (object) {
      let valid = true
      const regExpText = /^[a-zA-Zа-яА-ЯёЁ'][a-zA-Z-а-яА-ЯёЁ' ]+[a-zA-Zа-яА-ЯёЁ']?$/
      const regExpPhone = /^(\+7)([ ])(\(?\d{3}\))([ ])[\d\- ]{3}([ ])[\d\- ]{2}([ ])[\d\- ]{2}$/
      const regExpEmail = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
      for (let i in object) {
        if (object.hasOwnProperty(i)) {
          object[i].$error = []
          if (object[i].value.length > 0) {
            if (object[i].type === 'text') {
              if (!regExpText.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            } else if (object[i].type === 'tel') {
              if (!regExpPhone.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            } else if (object[i].type === 'email') {
              if (!regExpEmail.test(object[i].value)) {
                object[i].$error.push('Неверный формат')
                object[i].$valid = false
                valid = false
                continue
              } else {
                object[i].$valid = true
              }
            }
          } else if (object[i].required === true) {
            object[i].$error.push('Обязательное поле')
            object[i].$valid = false
            valid = false
            continue
          }
        }
      }
      return valid
    },
    getErrors (arr) {
      return arr.join(`\n`)
    },
    setActive (index) {
      this.currentItem = index
    },
    isCurrent (index) {
      if (this.currentItem === index) {
        return 'active'
      }
    }
  },
  created () {
    this.currentItem = 0
  }
}
</script>
