<template>
  <section class="selection">
    <div class="selection__container">
      <div class="selection__title">Строгий отбор</div>
      <div class="selection__subtitle">Найти преподавателей, которые готовы совершенствовать свои умения и могут повести ученика за собой — непростая задача. Поэтому MAXIMUM ищет своих наставников по всей стране и отбирает лучших. Наши преподаватели проходят строгий многоэтапный отбор:</div>
      <div class="skilled-teachers__list">
        <div class="skilled-teachers__item">
          <div class="skilled-teachers__text">
            <div class="skilled-teachers__description">подают резюме</div>
            <div class="skilled-teachers__value">14 000</div>
          </div>
          <div class="skilled-teachers__image">
            <img src="../assets/main/svg/14000.svg" alt="подача заявки" class="skilled-teachers__img">
          </div>
        </div>
        <div class="skilled-teachers__item">
          <div class="skilled-teachers__text">
            <div class="skilled-teachers__description">проходят<br> собеседовани</div>
            <div class="skilled-teachers__value">5 000</div>
          </div>
          <div class="skilled-teachers__image">
            <img src="../assets/main/svg/5000.svg" alt="подача заявки" class="skilled-teachers__img">
          </div>
        </div>
        <div class="skilled-teachers__item">
          <div class="skilled-teachers__text">
            <div class="skilled-teachers__description">начинают обучение <br>в компании</div>
            <div class="skilled-teachers__value">400</div>
          </div>
          <div class="skilled-teachers__image">
            <img src="../assets/main/svg/400.svg" alt="подача заявки" class="skilled-teachers__img">
          </div>
        </div>
        <div class="skilled-teachers__item">
          <div class="skilled-teachers__text">
            <div class="skilled-teachers__description">стали<br> преподавателями</div>
            <div class="skilled-teachers__value">300</div>
          </div>
          <div class="skilled-teachers__image">
            <img src="../assets/main/svg/300-active.svg" alt="подача заявки" class="skilled-teachers__img">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Selection'
}
</script>
