<template>
  <div class="simulation">
    <div class="simulation__container">
      <div class="simulation__title">Симуляция реального экзамена</div>
      <div class="simulation__subtitle">Из-за чего <strong>80% выпускников теряют баллы</strong> на экзамене?</div>
      <ul class="simulation__list">
        <li class="simulation__item">
          <span class="simulation__text">невнимательность</span>
        </li>
        <li class="simulation__item">
          <span class="simulation__text">стрессовая обстановка</span>
        </li>
        <li class="simulation__item">
          <span class="simulation__text">незнание критериев</span>
        </li>
      </ul>
      <div class="simulation__description">Учебная программа MAXIMUM включает несколько симуляций реального экзамена, которые позволяют выявить слабые места каждого ученика и целенаправленно с ними бороться. </div>
      <div class="simulation__image">
        <img src="../assets/methods/png/task.png" alt="Задание" class="simulation__img">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Simulation'
}
</script>
