<template>
  <article class="skilled-teachers">
    <div class="skilled-teachers__main-text">
      Наши преподаватели умеют говорить с учеником «на одном языке» и делать учебу по-настоящему интересной! Они сами сдали ЕГЭ на 90+, поступили в топовый вуз страны на бюджет и теперь готовы передать свой опыт ученикам!
    </div>
    <div class="skilled-teachers__list">
      <div class="skilled-teachers__item">
        <div class="skilled-teachers__text">
          <div class="skilled-teachers__description">подано<br> резюме</div>
          <div class="skilled-teachers__value">14 000</div>
        </div>
        <div class="skilled-teachers__image">
          <img src="../assets/main/svg/14000.svg" alt="подача заявки" class="skilled-teachers__img">
        </div>
      </div>
      <div class="skilled-teachers__item">
        <div class="skilled-teachers__text">
          <div class="skilled-teachers__description">прошли<br> собеседовани</div>
          <div class="skilled-teachers__value">5 000</div>
        </div>
        <div class="skilled-teachers__image">
          <img src="../assets/main/svg/5000.svg" alt="подача заявки" class="skilled-teachers__img">
        </div>
      </div>
      <div class="skilled-teachers__item">
        <div class="skilled-teachers__text">
          <div class="skilled-teachers__description">начинают<br> обучение</div>
          <div class="skilled-teachers__value">400</div>
        </div>
        <div class="skilled-teachers__image">
          <img src="../assets/main/svg/400.svg" alt="подача заявки" class="skilled-teachers__img">
        </div>
      </div>
      <div class="skilled-teachers__item">
        <div class="skilled-teachers__text">
          <div class="skilled-teachers__description">стали<br> преподавателями</div>
          <div class="skilled-teachers__value">300</div>
        </div>
        <div class="skilled-teachers__image">
          <img src="../assets/main/svg/300-active.svg" alt="подача заявки" class="skilled-teachers__img">
        </div>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  name: 'SkilledTeachers'
}
</script>
