<template>
  <section class="speaker">
    <div class="speaker__container">
      <div class="speaker__title">Спикеры мероприятия</div>
      <div class="speaker__subtitle">Ведущие преподаватели и эксперты по профориентации поступления <br>поделятся своими советами и рекомендациями</div>
      <div class="speaker__list">
        <div class="speaker__item">
          <div class="speaker__photo">
            <img src="../assets/events/png/speaker-1.png" alt="" class="speaker__img">
          </div>
          <div class="speaker__name">Роман Лашкул</div>
          <div class="speaker__action">Знает</div>
          <div class="speaker__description">Все о ловушках ЕГЭ и расскажу тебе, как их обойти</div>
        </div>
        <div class="speaker__item">
          <div class="speaker__photo">
            <img src="../assets/events/png/speaker-2.png" alt="" class="speaker__img">
          </div>
          <div class="speaker__name">Валерия Грейскоп</div>
          <div class="speaker__action">ПОможет</div>
          <div class="speaker__description">Поступить на бюджет - могу, умею, практикую!</div>
        </div>
        <div class="speaker__item">
          <div class="speaker__photo">
            <img src="../assets/events/png/speaker-3.png" alt="" class="speaker__img">
          </div>
          <div class="speaker__name">Артем Меликян</div>
          <div class="speaker__action">Расскажет</div>
          <div class="speaker__description">Все об ОГЭ, чтобы помочь выбирать между школой и колледжем? </div>
        </div>
        <div class="speaker__item">
          <div class="speaker__photo">
            <img src="../assets/events/png/speaker-4.png" alt="" class="speaker__img">
          </div>
          <div class="speaker__name">Илья Грубер</div>
          <div class="speaker__action">Покажет</div>
          <div class="speaker__description">5 простых шага, которые приведут тебя к профессии</div>
        </div>
      </div>
      <div class="speaker__popup-wrapper">
        <a class="speaker__popup" href="#" @click.prevent="showEventPopup">регистрация</a>
      </div>
    </div>
    <event-popup :value="eventPopup" @input="hideEventPopup"></event-popup>
  </section>
</template>

<script>
import EventPopup from '@/components/EventPopup'
export default {
  name: 'Speaker',
  components: {
    EventPopup
  },
  data () {
    return {
      eventPopup: false
    }
  },
  methods: {
    showEventPopup () {
      this.eventPopup = true
    },
    hideEventPopup (event) {
      this.eventPopup = event
    }
  }
}
</script>
