<template>
  <section class="statistics">
    <div class="statistics__container">
      <div class="statistics__list">
        <div class="statistics__item">
          <div class="statistics__value">24</div>
          <div class="statistics__title">мастер-класса <br>для участников</div>
          <div class="statistics__description">Один день - сотни ответов на <br>вопросы старшеклассников и <br>родителей</div>
        </div>
        <div class="statistics__item">
          <div class="statistics__value">12</div>
          <div class="statistics__title">предметов <br>для тестирования</div>
          <div class="statistics__description">Диагностика знаний в формате <br>ЕГЭ, чтобы уже сейчас определить <br>свой уровень</div>
        </div>
        <div class="statistics__item">
          <div class="statistics__value">17</div>
          <div class="statistics__title">экспертов ЕГЭ <br>и поступления</div>
          <div class="statistics__description">Возможность получить <br>рекомендации <br>от лучших специалистов России</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Statistics'
}
</script>
