<template>
  <section class="success-components">
    <div class="success-components__container">
      <div class="success-components__title">Составляющие успеха</div>
      <div class="success-components__tabs">
        <div class="success-components__tabs-header">
          <div class="success-components__tab-head" :class="{'active' : selectedTab === 1}" @click.prevent="selectTab(1)">
            <img src="../assets/main/slider/2-active.svg" alt="Сильные наставники" class="success-components__tab-image" v-if="selectedTab === 1">
            <img src="../assets/main/slider/2.svg" alt="Сильные наставники" class="success-components__tab-image" v-else>
            <a href="#" class="success-components__tab-link">Сильные наставники</a>
          </div>
          <div class="success-components__tab-head" :class="{'active' : selectedTab === 2}" @click.prevent="selectTab(2)">
            <img src="../assets/main/slider/3-active.svg" alt="Комплексный подход" class="success-components__tab-image" v-if="selectedTab === 2">
            <img src="../assets/main/slider/3.svg" alt="Комплексный подход" class="success-components__tab-image" v-else>
            <a href="#" class="success-components__tab-link">Комплексный подход</a>
          </div>
          <div class="success-components__tab-head" :class="{'active' : selectedTab === 3}"  @click.prevent="selectTab(3)">
            <img src="../assets/main/slider/1-active.svg" alt="Онлайн-платформа" class="success-components__tab-image" v-if="selectedTab === 3">
            <img src="../assets/main/slider/1.svg" alt="Онлайн-платформа" class="success-components__tab-image" v-else>
            <a href="#" class="success-components__tab-link">Онлайн-платформа</a>
          </div>
        </div>
        <div class="success-components__tabs-body">
          <div class="success-components__tab">
            <skilled-teachers v-show="selectedTab === 1"></skilled-teachers>
            <integrated-approach v-show="selectedTab === 2"></integrated-approach>
            <online-platform v-show="selectedTab === 3"></online-platform>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import SkilledTeachers from '@/components/SkilledTeachers'
import IntegratedApproach from '@/components/IntegratedApproach'
import OnlinePlatform from '@/components/OnlinePlatform'
export default {
  name: 'SuccessComponents',
  components: {
    SkilledTeachers,
    IntegratedApproach,
    OnlinePlatform
  },
  data () {
    return {
      tabs: ['Сильные наставники', 'Комплексный подход', 'Онлайн-платформа'],
      selectedTab: 1
    }
  },
  methods: {
    selectTab (num) {
      this.selectedTab = num
    }
  }
}
</script>
