<template>
  <section class="teachers-maximum">
    <div class="teachers-maximum__container">
      <div class="teachers-maximum__title">Преподаватели <br>MAXIMUM</div>
      <div class="teachers-maximum__description">Преподаватели MAXIMUM – это наставники, мотиваторы и яркие личности. Они не просто дают учебный материал и отрабатывают его с учеником. Они выявляют сильные и слабые стороны своего подопечного, составляют персональный план подготовки, находятся на связи 24/7.</div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'TeachersMaximum'
}
</script>
