<template>
    <section class="testimonials" :class="[classes]">
      <div class="testimonials__container">
        <div class="testimonials__title">{{title}}</div>
        <div class="testimonials__slider">
          <swiper :options="swiperOption">
            <!-- slides -->
            <swiper-slide v-for="slide in slides" :key="slide.id" class="testimonials__slide">
              <div class="testimonials-slide__header">
                <div class="testimonials-slide__photo">
                  <!--поменять url на путь от сервера и значение из props slide.avatar-->
                  <img src="../assets/main/png/469845911.png" alt="аватар" class="testimonials-slide__avatar">
                  <a :href="slide.link" class="testimonials-slide__link">
                    <!--поменять url на путь от сервера и значение из props slide.social-->
                    <img src="../assets/main/png/facebook.png" alt="соц.сеть" class="testimonials-slide__link-image">
                  </a>
                </div>
                <div class="testimonials-slide__info">
                  <div class="testimonials-slide__name">{{slide.title}}</div>
                  <div class="testimonials-slide__description">{{slide.who}}</div>
                </div>
              </div>
              <div class="testimonials-slide__body">{{slide.text}}</div>
            </swiper-slide>
            <!-- Optional controls -->
            <div class="testimonials__button testimonials__button--prev" slot="button-prev"></div>
            <div class="testimonials__button testimonials__button--next" slot="button-next"></div>
          </swiper>
        </div>
      </div>
    </section>
</template>
<script>

export default {
  name: 'Testimonials',
  props: {
    title: {
      type: String,
      default: ''
    },
    classes: {
      type: Array
    }
  },
  data () {
    return {
      swiperOption: {
        navigation: {
          nextEl: '.testimonials__button--next',
          prevEl: '.testimonials__button--prev'
        },
        slidesPerView: 1,
        autoHeight: true,
        loop: false
      },
      // Пример. Перенести в props и получать по API
      slides: [
        {
          id: 1,
          title: 'Марина Антонова',
          who: 'Мама ученика 11 класса',
          // проблема с assets в vue. Лучше хранить фото на сервере
          avatar: 'facebook@3x.png',
          link: 'https://vk.com/feed',
          // проблема с assets в vue. Лучше хранить фото на сервере
          social: 'facebook.png',
          text: 'В прошлом году мой сын готовился в Максимум к ОГЭ по нескольким предметам. Сколько он ни рассказывал мне, как прошли его занятия, я всегда радовалась, потому что начала замечать, что он старается. Сейчас он учится в 10 классе, в следующем году будет сдавать уже более серьёзные экзамены — ЕГЭ.'
        },
        {
          id: 2,
          title: 'Женя Листопадова',
          who: 'Выпускница 2017, студентка МФТИ',
          avatar: 'facebook@3x.png',
          link: 'https://vk.com/feed',
          social: 'facebook.png',
          text: 'Самый продуктивный год за все время учебы в школе! Суператмосфера, приветливые сокурсники и потрясающие занятия!)'
        },
        {
          id: 3,
          title: 'Виктория Марченко',
          who: 'Выпускница 2017, студентка СПбГУ',
          avatar: 'facebook@3x.png',
          link: 'https://vk.com/feed',
          social: 'facebook.png',
          text: 'MAXIMUM - это самое душевное место, где приятно учиться! Где преподаватели действительно переживают за твой результат и делают все, чтобы ты набрал свой максимум'
        },
        {
          id: 4,
          title: 'Лолитта Сарканян',
          who: 'Выпускница 2017, студентка МГУ',
          avatar: 'facebook@3x.png',
          link: 'https://vk.com/feed',
          social: 'facebook.png',
          text: 'Поступила на мехмат МГУ, хотя в сентябре 11 класса не верила, что вообще хоть куда-то поступлю. Спасибо курсам максимум за подготовку, без которой я бы не сдала профильную математику вообще... МАКСИМУМ - семья!!!!!!'
        }
      ]
    }
  }
}
</script>
