<template>
  <section class="they">
    <div class="they__container">
      <div class="they__title">Кто они?</div>
      <div class="they__slider">
        <swiper :options="swiperOption">
          <!-- slides -->
          <swiper-slide v-for="slide in slides" :key="slide.id" class="they__slide">
            <div class="they__photo">
              <!--поменять url на путь от сервера и значение из props slide.avatar-->
              <img src="../assets/teachers/png/slide.png" alt="аватар" class="they__avatar">
            </div>
            <div class="they__info">
              <div class="they__name">{{slide.name}}</div>
              <div class="they__full-name">{{slide.fullName}}</div>
              <div class="they__result">{{slide.result}}</div>
              <div class="they__description">{{slide.description}}</div>
            </div>
          </swiper-slide>
          <!-- Optional controls -->
          <div class="they__button they__button--prev" slot="button-prev"></div>
          <div class="they__button they__button--next" slot="button-next"></div>
        </swiper>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'They',
  data () {
    return {
      swiperOption: {
        navigation: {
          nextEl: '.they__button--next',
          prevEl: '.they__button--prev'
        },
        slidesPerView: 3,
        spaceBetween: 30,
        loop: true,
        breakpoints: {
          // when window width is <= 320px
          800: {
            slidesPerView: 1
          },
          // when window width is <= 480px
          1100: {
            slidesPerView: 2
          }
        }
      },
      // Пример. Перенести в props и получать по API
      slides: [
        {
          id: 1,
          name: 'Валерия',
          fullName: 'Валерия',
          result: 'Сдала обществознание на 95',
          // проблема с assets в vue. Лучше хранить фото на сервере
          avatar: 'facebook@3x.png',
          description: 'Конспекты, контрольные, рок-н-ролл'
        },
        {
          id: 2,
          name: 'Артем',
          fullName: 'Артем',
          result: 'Сдал историю на 91',
          // проблема с assets в vue. Лучше хранить фото на сервере
          avatar: 'facebook@3x.png',
          description: 'Дорогу осилит идущий'
        },
        {
          id: 3,
          name: 'Илья',
          fullName: 'Илья Грубер',
          result: 'Сдал математику на 92',
          // проблема с assets в vue. Лучше хранить фото на сервере
          avatar: 'facebook@3x.png',
          description: 'Вы имеете право хранить молчание. Все что вы скажете, может быть использовано против вас в ЕГЭ'
        }
      ]
    }
  }
}
</script>
