<template>
  <section class="update-tasks">
    <div class="update-tasks__container">
      <div class="update-tasks__title">Регулярно обновляем задания</div>
      <div class="update-tasks__description">Ученики MAXIMUM занимаются по авторским учебным материалам, которые разрабатываются <br>нашим исследовательским отделом. Чтобы учесть все критерии подготовки и актуальность <br>заданий, методисты следят за ежегодными изменениями, которые вносит ФИПИ, <br>сотрудничают с составителями заданий и экспертами из вузов.</div>
      <div class="update-tasks__image">
        <img src="../assets/methods/png/book.png" alt="Обновляем задания" class="update-tasks__img">
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'UpdateTasks'
}
</script>
