<template>
  <section class="video">
    <div class="video__container">
      <div class="video__title">{{title}}</div>
      <div class="video__subtitle">{{subtitle}}</div>
      <div class="video__video">
        <youtube :videoId="videoId"></youtube>
      </div>
      <div class="video__description">{{description}}</div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Video',
  props: {
    title: {
      type: String
    },
    subtitle: {
      type: String
    },
    videoId: {
      type: String
    },
    description: {
      type: String
    }
  }
}
</script>
