<template>
  <section class="what-is-maximum" id="WhatIsMaximum">
    <div class="what-is-maximum__container">
      <div class="what-is-maximum__title">Что такое МАКСИМУМ</div>
      <div class="what-is-maximum__list">
        <div class="what-is-maximum__item">
          <div class="what-is-maximum__value">97%</div>
          <div class="what-is-maximum__description">учеников и родителей<br>рекомендуют MAXIMUM</div>
        </div>
        <div class="what-is-maximum__item">
          <div class="what-is-maximum__value">80 000</div>
          <div class="what-is-maximum__description">учеников MAXIMUM поступили<br>в лучшие вузы России</div>
        </div>
        <div class="what-is-maximum__item">
          <div class="what-is-maximum__value">80 +</div>
          <div class="what-is-maximum__description">баллов получает каждый пятый<br>ученик MAXIMUM на ЕГЭ</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'WhatIsMaximum'
}
</script>
