<template>
  <section class="where-we-work">
    <div class="where-we-work__container">
      <div class="where-we-work__title">Работаем по всей россии</div>
      <div class="where-we-work__description">Курсы подготовки MAXIMUM доступны в учебных центрах <br>в 20 городах России и онлайн из любой точки мира</div>
      <div class="where-we-work__content">
        <div class="where-we-work__cities">
          <div class="where-we-work__city">Москва</div>
          <div class="where-we-work__city">Владимир</div>
          <div class="where-we-work__city">Мытищи</div>
          <div class="where-we-work__city">Грозный</div>
          <div class="where-we-work__city">Подольск</div>
          <div class="where-we-work__city">Екатеринбург</div>
          <div class="where-we-work__city">Ростов-на-Дону</div>
          <div class="where-we-work__city">Иркутск</div>
          <div class="where-we-work__city">Краснодар</div>
          <div class="where-we-work__city">Красноярск</div>
          <div class="where-we-work__city">Ярославль</div>
          <div class="where-we-work__city">Новосибирск</div>
          <div class="where-we-work__city">Сургут</div>
          <div class="where-we-work__city">Нижний Новгород</div>
          <div class="where-we-work__city">Одинцово</div>
          <div class="where-we-work__city">Тольятти</div>
          <div class="where-we-work__city">Санкт-Петербург</div>
          <div class="where-we-work__city">Тула</div>
          <div class="where-we-work__city">Волгоград</div>
          <div class="where-we-work__city">Тюмень</div>
        </div>
        <div class="where-we-work__cities">
          <div class="where-we-work__city">Онлайн (другие города)</div>
          <div class="where-we-work__city">Минск (Республика Беларусь)</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'WhereWeWork',
  data () {
    return {
      image: import('../assets/main/svg/group-5.svg')
    }
  }
}
</script>
