<template>
  <section class="work-flow">
    <div class="work-flow__container">
      <div class="work-flow__title">Как проходят занятия</div>
      <div class="work-flow__slider">
        <swiper :options="swiperOption">
          <swiper-slide v-for="(slide, index) in slides" :key="index" class="work-flow__slide">
            <img src="../assets/exam/png/workflow.png" alt="Рабочий процесс" class="work-flow__img">
          </swiper-slide>
          <div class="work-flow__button work-flow__button--prev" slot="button-prev"></div>
          <div class="work-flow__button work-flow__button--next" slot="button-next"></div>
        </swiper>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'WorkFlow',
  data () {
    return {
      swiperOption: {
        navigation: {
          nextEl: '.work-flow__button--next',
          prevEl: '.work-flow__button--prev'
        },
        autoHeight: true,
        loop: true,
        slidesPerView: 'auto',
        centeredSlides: true,
        spaceBetween: 40
      },
      slides: [
        // Здесь должны быть прописаны пути до картинок на сервере
        {
          src: ''
        },
        {
          src: ''
        },
        {
          src: ''
        },
        {
          src: ''
        },
        {
          src: ''
        }
      ]
    }
  }
}
</script>
