<template>
  <section class="world-experience">
    <div class="world-experience__container">
      <div class="world-experience__title">Применяем мировой опыт</div>
      <div class="world-experience__description">В России ЕГЭ существует пару десятилетий, а во многих странах мира стандартизированные экзамены применяются уже более 100 лет. Подготовка к ЕГЭ – это не только знания по предмету, но и знание процедуры экзамена, психологическая подготовка и личная стратегия поступления в вуз.</div>
    </div>
    <div class="world-experience__timeline timeline">
      <div class="timeline__item timeline__item--image">
        <div class="timeline__header"></div>
        <div class="timeline__line">
          <div class="timeline__point">
            <div class="timeline__point-image">
              <img src="../assets/methods/png/timeline-point.png" alt="1901 год" class="timeline__point-img">
            </div>
          </div>
        </div>
        <div class="timeline__footer">
          <div class="timeline__footer-title">1901 год</div>
          <div class="timeline__footer-text">Первые 973 студента из США сдают стандартизированный экзамен SAT</div>
        </div>
      </div>
      <div class="timeline__item">
        <div class="timeline__header"></div>
        <div class="timeline__line">
          <div class="timeline__point">
            <span class="timeline__point-plain"></span>
          </div>
        </div>
        <div class="timeline__footer">
          <div class="timeline__footer-title">2001 год</div>
          <div class="timeline__footer-text">В регионах России проводятся первые экзамены в формате ЕГЭ</div>
        </div>
      </div>
      <div class="timeline__item">
        <div class="timeline__header">
          <div class="timeline__header-image">
            <img src="../assets/methods/svg/logo.svg" alt="" class="timeline__header-img">
          </div>
        </div>
        <div class="timeline__line">
          <div class="timeline__point">
            <span class="timeline__point-plain"></span>
          </div>
        </div>
        <div class="timeline__footer">
          <div class="timeline__footer-title">2013 год</div>
          <div class="timeline__footer-text">Специалисты с опытом работы в разных странах основывают свою компанию по подготовке к экзаменам</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'WorldExperience'
}
</script>
