//color naming by http://chir.ag/projects/name-that-color

$white: #fff;
$black: #000;

$alabaster:#fafafa;
$flamingo: #f25c31;
$bali-hai: #8591b0;
$portage: #819af0;
$silver: #ccc;
$gray: #666;
$gallery: #ececec;
$alebaster: #fafafa;
$seance: #731982;
$jade: #00b956;
$tundora: #4a4a4a;
$alto: #cecece;
$ship-gray: #44424e;
$dusty-gray: #9B9B9B;
$melrose: #A8BEFF;
$abbey: #494a4e;
$concrete: #F2F2F2;
$wild-sand: #F5F5F5;
$dove-gray: #737373;
$mine-shaft: #333;
$oslo-gray: #858689;
$botticelli: #dde7ee;
$havelock-blue: #6382dd;
$manz: #d4ec67;
$chardonnay: #fbca88
