@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate3d(-50%, -50%,0);
}

@mixin absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin mq($width, $type: max) {
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

@mixin wrapper($width) {
  max-width: $width - 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: content-box;

  @include mq($width) {
    box-sizing: border-box;
  }
}


@mixin typograph-plain-l {
  font-size: 15px;
  font-weight: $medium;
  line-height: calc(21/15);
}

@mixin typograph-plain-m {
  font-size: 12px;
  font-weight: $medium;
  line-height: calc(18/12);
}

@mixin typograph-head-1 {
  font-size: 42px;
  font-weight: $semibold;
  line-height: calc(60/42);

  @include mq(400px) {
    font-size: 36px;
  }
}

@mixin typograph-head-2 {
  font-size: 36px;
  font-weight: $semibold;
  line-height: calc(48/36);
  letter-spacing: 0.86px;

  @include mq(400px) {
    font-size: 20px;
  }
}

@mixin typograph-head-3 {
  font-size: 24px;
  font-weight: $medium;
  line-height: calc(36/24);

  @include mq(400px) {
    font-size: 20px;
  }
}


@mixin typograph-head-4 {
  font-size: 18px;
  font-weight: $medium;
  line-height: calc(30/18);

  @include mq(400px) {
    font-size: 16px;
  }
}


@mixin button($color: $portage) {
  @include typograph-plain-m;
  background: $color;
  border-radius: 60px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  box-shadow: none;
  border: 0;
  min-width: 180px;
  height: 40px;
  padding: 0 36px;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 0 10px 30px rgba($color, 0.4);
  }

  &:active {
    background: darken($color, 3%);
  }
  &:active, &:focus {
    outline: 0;
    box-shadow: 0 10px 30px rgba($color, 0.4);
  }
}

@mixin button-small() {
  @include button;
  min-width: 160px;
}

@mixin button-empty($color: $havelock-blue) {
  @include typograph-plain-m;
  background: none;
  border-radius: 60px;
  color: $color;
  text-transform: uppercase;
  text-align: center;
  box-shadow: none;
  border: 1px solid $color;
  min-width: 180px;
  height: 40px;
  padding: 0 36px;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
  &:active, &:focus {
    outline: 0;
    text-decoration: underline;
  }
}
